In [1]:
import pandas as pd

In [2]:
matching = pd.read_csv('data/pt_data/matching_unmatched_removed.csv',delimiter=',')

In [72]:
matching.head(10)

,case_patid,case_pracid,case_gender,case_birthyear,case_index,match,control_patid,control_pracid,control_gender,control_birthyear,control_start,control_end
0,4923328,328,2,1916,01/07/2003,1,4355328,328,2,1916,01/01/2000,07/02/2009
1,1959216,216,1,1933,25/02/2011,1,6290216,216,1,1933,01/01/2000,01/06/2012
2,9271420,420,1,1917,20/06/2003,1,2770420,420,1,1917,02/01/2003,29/12/2009
3,548429,429,2,1925,11/05/2005,1,5473429,429,2,1925,01/01/2000,01/06/2012
4,14185081,81,2,1917,28/02/2005,1,5951081,81,2,1917,01/01/2000,27/01/2007
5,7329438,438,2,1941,04/08/2008,1,17742438,438,2,1941,01/01/2000,01/06/2012
6,6327373,373,1,1941,26/03/2009,1,5262373,373,1,1941,22/12/2004,10/09/2010
7,5811024,24,1,1930,14/12/2010,1,6394024,24,1,1930,01/01/2000,01/06/2012
8,6905371,371,1,1926,19/09/2006,1,15830371,371,1,1926,07/11/2002,22/07/2009
9,7741629,629,1,1936,10/06/2004,1,9053629,629,1,1936,01/01/2000,01/06/2012

In [164]:
all_clinical_tests_referrals_just_patid_and_dates = pd.read_csv('data/pt_data/all_entries_just_patID_medcode_dates.csv',delimiter=',')

In [165]:
all_clinical_tests_referrals_just_patid_and_dates.head(10)

   patid     sysdate   eventdate  medcode
0  57001  1997-03-09  1994-10-31     3550
1  57001  1997-03-09  1994-10-31     9897
2  57001  1997-03-09  1993-01-28     4447
3  57001  1997-03-09  1993-01-28        3
4  57001  1997-03-09  1993-01-28       60
5  57001  1999-07-16  1999-07-16        0
6  57001  1997-03-07  1991-06-11       61
7  57001  1997-03-07  1990-11-19       61
8  57001  1997-03-09  1993-01-28        2
9  57001  2003-10-02  2003-09-24     9617

In [208]:
row_num = 4341

In [209]:
matching.loc[row_num][['case_patid','case_index','control_start','control_end']]

case_patid          5022134
case_index       15/04/2009
control_start    01/01/2000
control_end      01/06/2012
Name: 4341, dtype: object

In [210]:
case = matching.loc[row_num]['case_patid']
case

5022134

In [211]:
control = int(matching.loc[row_num]['control_patid'])
control

18392134

In [212]:
all_clinical_tests_referrals_just_patid_and_dates[all_clinical_tests_referrals_just_patid_and_dates['patid']==case].sort_values(by='eventdate')

            patid     sysdate   eventdate  medcode
5999526   5022134  2004-04-27  1985-08-28     1399
5999455   5022134  2002-02-21  1987-01-01      240
5999463   5022134  2002-02-21  1987-01-01      240
5999527   5022134  2004-04-27  1987-02-23     1759
5999552   5022134  2004-04-27  1987-02-23     8010
5999553   5022134  2004-04-27  1987-07-20     4538
5999457   5022134  2002-02-21  1991-01-01      204
5999550   5022134  2005-09-29  1991-01-01      799
54523016  5022134  2002-02-21  1991-02-25      132
5999528   5022134  2005-09-29  1991-06-01     2724
5999554   5022134  2004-04-27  1991-06-08     6834
5999489   5022134  2002-02-21  1998-10-06      106
5999529   5022134  2005-09-29  1999-08-18     2074
5999555   5022134  2004-04-27  2000-03-22     1622
5999542   5022134  2005-09-29  2001-02-21     2074
5999466   5022134  2002-02-21  2001-03-06       27
5999480   5022134  2002-02-21  2001-03-06        1
5999468   5022134  2002-02-21  2001-03-06        3
33702370  5022134  2002-02-21  2001-03-06       12
5999472   5022134  2002-02-21  2001-03-06        2
5999453   5022134  2002-02-21  2001-03-06       29
33702361  5022134  2002-02-21  2001-03-06       65
5999451   5022134  2002-02-21  2001-03-06       36
5999449   5022134  2002-02-21  2001-03-06       29
5999447   5022134  2002-02-21  2001-03-06     3468
33702363  5022134  2002-02-21  2001-03-06       37
5999443   5022134  2002-02-21  2001-03-06        1
33702365  5022134  2002-02-21  2001-03-06       44
5999474   5022134  2002-02-21  2001-06-19        2
33702371  5022134  2002-02-21  2001-06-19       12
...           ...         ...         ...      ...
5999722   5022134  2012-09-20  2012-08-02     6888
5999714   5022134  2012-08-13  2012-08-13     6677
5999717   5022134  2012-08-28  2012-08-21       70
5999716   5022134  2012-08-24  2012-08-24     6677
5999715   5022134  2012-08-24  2012-08-24     6677
5999718   5022134  2012-08-28  2012-08-28     6677
5999719   5022134  2012-09-04  2012-09-04     6677
5999721   5022134  2012-09-18  2012-09-05     2309
5999720   5022134  2012-09-13  2012-09-12    22095
33702571  5022134  2012-09-14  2012-09-13    14552
5999723   5022134  2012-10-01  2012-09-25     2764
5999532   5022134  2012-10-09  2012-10-09       90
5999524   5022134  2012-10-09  2012-10-09        2
54523028  5022134  2012-10-09  2012-10-09     2879
5999541   5022134  2012-10-09  2012-10-09        1
5999724   5022134  2012-10-09  2012-10-09    12710
5999727   5022134  2012-11-16  2012-10-22     8416
5999725   5022134  2012-10-25  2012-10-22     8416
5999726   5022134  2012-11-12  2012-11-12     6677
5999728   5022134  2012-11-26  2012-11-24    84411
5999729   5022134  2012-11-29  2012-11-26     1951
5999730   5022134  2013-01-11  2012-12-10     9934
5999733   5022134  2013-02-20  2013-02-11     7631
5999732   5022134  2013-02-14  2013-02-11     1951
5999731   5022134  2013-02-13  2013-02-13     6677
5999734   5022134  2013-02-26  2013-02-26     4703
5999735   5022134  2013-03-21  2013-03-14     6888
5999512   5022134  2013-04-23  2013-04-23      461
5999737   5022134  2013-04-23  2013-04-23       26
5999736   5022134  2013-04-23  2013-04-23   100222

[599 rows x 4 columns]

In [213]:
all_clinical_tests_referrals_just_patid_and_dates[all_clinical_tests_referrals_just_patid_and_dates['patid']==control].sort_values(by='eventdate')

             patid     sysdate   eventdate  medcode
6017374   18392134  2002-02-21  1959-03-15      107
6017405   18392134  2006-02-21  1973-01-01      843
6017406   18392134  2006-02-21  1977-01-01     2881
6017407   18392134  2006-02-21  1980-01-01      843
6017408   18392134  2006-02-21  1985-01-01      730
6017409   18392134  2006-02-21  1988-01-01     5857
6017410   18392134  2006-02-21  1988-01-01     9454
6017411   18392134  2004-03-03  1990-01-01      799
6017340   18392134  2002-02-21  1990-01-01      204
6017346   18392134  2002-02-21  1993-01-01      204
6017413   18392134  2002-02-21  1993-01-01      240
6017334   18392134  2002-02-21  1993-01-01      240
6017425   18392134  2005-01-24  1993-01-01     1798
6017412   18392134  2006-02-21  1993-01-01      241
6017352   18392134  2002-02-21  1993-11-19       60
6017353   18392134  2002-02-21  1993-11-19        3
6017350   18392134  2002-02-21  1993-11-19      749
33717646  18392134  2002-02-21  1993-11-19    13084
54523541  18392134  2002-02-21  1993-11-19     4274
6017347   18392134  2002-02-21  1993-11-19     2803
6017365   18392134  2002-02-21  1993-11-19        1
33717645  18392134  2002-02-21  1993-11-19     4274
54523542  18392134  2002-02-21  1993-11-19    13084
6017356   18392134  2002-02-21  1993-11-19        2
6017414   18392134  2006-02-21  1995-01-01      637
6017373   18392134  2002-02-21  1998-10-06      106
6017366   18392134  2002-02-21  2001-09-04        1
6017330   18392134  2002-02-21  2001-09-04     3468
33717562  18392134  2002-02-21  2001-09-04       37
33717560  18392134  2002-02-21  2001-09-04       65
...            ...         ...         ...      ...
33717748  18392134  2012-08-29  2012-08-28        5
33717747  18392134  2012-08-29  2012-08-28        8
33717746  18392134  2012-08-29  2012-08-28        9
6017572   18392134  2012-10-03  2012-08-31    16681
6017571   18392134  2012-09-05  2012-09-05      581
6017570   18392134  2012-09-05  2012-09-05     2922
6017379   18392134  2012-09-05  2012-09-05   102574
6017402   18392134  2012-09-05  2012-09-05        1
6017573   18392134  2012-10-05  2012-09-14     7562
6017574   18392134  2012-10-08  2012-10-03     1649
6017575   18392134  2012-10-08  2012-10-08     7041
6017576   18392134  2012-10-16  2012-10-16     6677
6017579   18392134  2012-11-09  2012-10-18      252
6017577   18392134  2012-10-25  2012-10-23      140
33717579  18392134  2012-11-26  2012-11-05     6019
6017581   18392134  2012-11-26  2012-11-05      592
6017578   18392134  2012-11-09  2012-11-05     7178
6017580   18392134  2012-11-09  2012-11-06      140
6017403   18392134  2012-12-12  2012-12-12        1
6017582   18392134  2012-12-12  2012-12-12       38
33717580  18392134  2012-12-28  2012-12-17     1190
6017583   18392134  2012-12-19  2012-12-17     7198
6017584   18392134  2012-12-31  2012-12-31     3144
6017404   18392134  2012-12-31  2012-12-31        1
6017585   18392134  2013-01-28  2013-01-28     6677
6017586   18392134  2013-01-30  2013-01-30     6677
6017587   18392134  2013-03-01  2013-03-01       38
6017588   18392134  2013-04-05  2013-04-05     1028
33717736  18392134  2013-04-16  2013-04-16       12
6017589   18392134  2013-04-23  2013-04-23   100222

[460 rows x 4 columns]