In [1]:
import pandas as pd
from constants import Entry_Type
from my_functions import *

In [2]:
pegmed = pd.read_csv('data/dicts/proc_pegasus_medical.csv')
pegmed.head(5)

,medcode,readcode,clinical events,immunisation events,referral events,test events,read term,database build
0,42602,E001000,30,0,1,0,Uncomplicated presenile dementia,February 2009
1,65166,TAy0.00,2,0,0,0,Mismatched blood transfused,February 2009
2,86183,K2284PH,0,0,0,0,NaN,February 2009
3,24730,ZC2C100,142,0,7,0,Dietary treatment for disorder,February 2009
4,12413,5C10.00,876,0,68,3966,Carotid artery doppler abnormal,February 2009

In [3]:
matching = pd.read_csv('data/pt_data/matching_unmatched_removed.csv',delimiter=',')

In [4]:
matching.head(10)

,case_patid,case_pracid,case_gender,case_birthyear,case_index,match,control_patid,control_pracid,control_gender,control_birthyear,control_start,control_end
0,4923328,328,2,1916,01/07/2003,1,4355328,328,2,1916,01/01/2000,07/02/2009
1,1959216,216,1,1933,25/02/2011,1,6290216,216,1,1933,01/01/2000,01/06/2012
2,9271420,420,1,1917,20/06/2003,1,2770420,420,1,1917,02/01/2003,29/12/2009
3,548429,429,2,1925,11/05/2005,1,5473429,429,2,1925,01/01/2000,01/06/2012
4,14185081,81,2,1917,28/02/2005,1,5951081,81,2,1917,01/01/2000,27/01/2007
5,7329438,438,2,1941,04/08/2008,1,17742438,438,2,1941,01/01/2000,01/06/2012
6,6327373,373,1,1941,26/03/2009,1,5262373,373,1,1941,22/12/2004,10/09/2010
7,5811024,24,1,1930,14/12/2010,1,6394024,24,1,1930,01/01/2000,01/06/2012
8,6905371,371,1,1926,19/09/2006,1,15830371,371,1,1926,07/11/2002,22/07/2009
9,7741629,629,1,1936,10/06/2004,1,9053629,629,1,1936,01/01/2000,01/06/2012

In [5]:
all_entries = pd.read_csv('data/pt_data/medcoded_clinical_entries.csv',delimiter=',')

In [6]:
all_entries.sample(10)

             patid     sysdate   eventdate  medcode  type
24448135  17775549  2004-05-06  2001-02-15     7995     2
3973061    8094091  1999-01-14  1999-01-14      855     2
32307649   4822106  2009-11-24  2009-11-23       15     3
40173312   6822282  2002-04-25  2002-04-24    13813     3
27424446   2544657  1999-04-14  1999-04-14        1     2
25692382   2021599  2013-03-11  2013-03-11       26     2
16376952  10873362  2005-01-10  2005-01-10        1     2
26451562   1567632  2008-01-19  1993-04-06     2515     2
12875893    278282  2006-06-02  2006-05-11    10792     2
4884829    7584114  2010-02-12  2010-02-12        1     2

In [40]:
row_num = 4343

In [41]:
matching.loc[row_num][['case_patid','case_index','control_start','control_end']]

case_patid         15839181
case_index       18/08/2008
control_start    09/09/2001
control_end      01/06/2012
Name: 4343, dtype: object

In [42]:
case = matching.loc[row_num]['case_patid']
case

15839181

In [43]:
control = int(matching.loc[row_num]['control_patid'])
control

6624181

In [44]:
case_entries = all_entries[all_entries['patid']==case].sort_values(by='sysdate')
case_entries['read_term']=case_entries['medcode'].map(lambda x: pegmed.loc[pegmed['medcode']==x]['read term'].iloc[0])
case_entries['type']=case_entries['type'].map(lambda x: Entry_Type.look_up[x])

In [45]:
case_entries.head(1)['sysdate']

8317605    2002-04-08
Name: sysdate, dtype: object

In [46]:
case_entries.tail(1)['sysdate']

8317442    2012-05-09
Name: sysdate, dtype: object

In [47]:
control_entries = all_entries[all_entries['patid']==control].sort_values(by='sysdate')
control_entries['read_term']=control_entries['medcode'].map(lambda x: pegmed.loc[pegmed['medcode']==x]['read term'].iloc[0])
control_entries['type']=control_entries['type'].map(lambda x: Entry_Type.look_up[x])

In [48]:
control_entries.head(1)['sysdate']

8283232    2002-04-09
Name: sysdate, dtype: object

In [49]:
control_entries.tail(1)['sysdate']

35943765    2012-10-22
Name: sysdate, dtype: object