In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# %aimport data_processing
# %aimport codelists
# %aimport constants
# %aimport import_file

In [3]:
from data_processing import *

In [4]:
from import_file import *

In [5]:
pd.options.display.max_rows = 200

In [6]:
# create_pegmed()

In [7]:
# create_pegprod()

In [8]:
# create_medcoded_entries()

In [9]:
# create_prescriptions()

In [10]:
# create_consultations()

In [11]:
# all_entries = create_all_entries()

In [12]:
# all_entries = pd.read_csv('data/pt_data/all_entries.csv',delimiter=',',parse_dates=['sysdate','eventdate'],infer_datetime_format=True)

In [13]:
all_entries = pd.read_hdf('hdf/all_entries.hdf')

In [14]:
all_entries.sample(5)

           eventdate  medcode     patid  prodcode    sysdate  type
72212132  2007-07-20     74.0   3215672       NaN 2007-07-20     2
117352821 2004-07-12      NaN   5106172     823.0 2004-07-12     5
45895102  2008-04-17    461.0  14864038       NaN 2008-04-17     2
125284930 2003-06-23      NaN  10117250       7.0 2003-06-23     5
120101235 2011-08-31      NaN   7945199    5828.0 2011-08-31     5

In [15]:
# all_entries.to_hdf('hdf/all_entries.hdf', 'all_entries' ,mode='w')

In [16]:
create_pt_features()

In [17]:
get_index_date_and_caseness_and_add_final_dementia_subtype(all_entries)

In [18]:
add_data_start_and_end_dates(all_entries)

In [19]:
calculate_amount_of_data_available(isCase=True)

In [20]:
delete_patients_if_not_enough_data(isCase=True)

In [21]:
match_cases_and_controls()

In [22]:
delete_unmatched_cases_and_controls()

In [23]:
calculate_amount_of_data_available(isCase=False)

In [24]:
get_insomnia_event_count(entries=all_entries)

In [25]:
pt_features = pd.read_csv('data/pt_data/pt_features.csv',delimiter=',')

In [26]:
len(pt_features)

8414

In [27]:
pt_features.sort_values(by='matchid')

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,days pre_indexdate,days post_indexdate,matchid,insom_count
5890,5898001,2,1935,1,2008-08-12,False,NaN,1997-03-07,2013-05-14,4176.0,1736.0,5,0
5903,644001,2,1935,1,2008-08-12,True,1350.0,1997-03-07,2013-05-17,4176.0,1739.0,5,0
3809,803001,1,1923,1,2007-09-12,True,1350.0,1997-03-07,2012-01-19,3841.0,1590.0,10,0
3760,5551001,1,1923,1,2007-09-12,False,NaN,1997-03-07,2012-01-04,3841.0,1575.0,10,0
5831,1064001,2,1928,1,2011-03-03,True,1917.0,1997-03-07,2013-05-02,5109.0,791.0,16,0
5796,2192001,2,1928,1,2011-03-03,False,NaN,1997-03-07,2013-04-25,5109.0,784.0,16,0
5778,1645001,1,1929,1,2007-05-24,True,26270.0,1997-03-07,2013-04-23,3730.0,2161.0,18,0
4841,5988001,1,1929,1,2007-05-24,False,NaN,1997-03-07,2012-10-26,3730.0,1982.0,18,0
5898,2136001,2,1923,1,2009-03-16,True,6578.0,1997-03-07,2013-05-16,4392.0,1522.0,22,0
2763,9687001,2,1923,1,2009-03-16,False,NaN,1997-03-07,2011-05-05,4392.0,780.0,22,0
5828,6507001,2,1934,1,2010-04-28,False,NaN,1997-03-07,2013-05-02,4800.0,1100.0,33,0
5924,3500001,2,1934,1,2010-04-28,True,1917.0,1997-03-07,2013-05-20,4800.0,1118.0,33,0
5865,3762001,2,1920,1,2011-03-11,True,1350.0,1997-03-07,2013-05-09,5117.0,790.0,35,0
5744,432001,2,1920,1,2011-03-11,False,NaN,1997-03-07,2013-04-15,5117.0,766.0,35,0
5816,4826001,2,1918,1,2010-11-12,True,6578.0,1997-03-07,2013-05-01,4998.0,901.0,45,0
5536,9709001,2,1918,1,2010-11-12,False,NaN,1997-03-07,2013-03-04,4998.0,843.0,45,0
3764,4909001,1,1935,1,2007-06-05,True,1350.0,1997-03-07,2012-01-06,3742.0,1676.0,47,0
5926,12058001,1,1935,1,2007-06-05,False,NaN,1997-03-07,2013-05-20,3742.0,2176.0,47,0
4831,4766001,2,1923,1,2010-07-01,False,NaN,1997-03-07,2012-10-25,4864.0,847.0,49,0
4858,5092001,2,1923,1,2010-07-01,True,1350.0,1997-03-07,2012-11-01,4864.0,854.0,49,0
5818,1939001,1,1927,1,2010-12-02,False,NaN,1997-03-07,2013-05-01,5018.0,881.0,50,0
5797,5128001,1,1927,1,2010-12-02,True,6578.0,1997-03-07,2013-04-25,5018.0,875.0,50,0
3720,5740001,1,1934,1,2007-11-15,True,7572.0,1997-03-07,2011-12-22,3905.0,1498.0,55,0
5785,11256001,1,1934,1,2007-11-15,False,NaN,1997-03-07,2013-04-24,3905.0,1987.0,55,0
5862,3427001,2,1932,1,2008-03-14,False,NaN,1997-03-07,2013-05-08,4025.0,1881.0,68,0
970,7667001,2,1932,1,2008-03-14,True,7664.0,1997-03-07,2010-06-08,4025.0,816.0,68,0
2738,7671001,2,1918,1,2007-04-12,True,1350.0,1997-03-07,2011-04-28,3688.0,1477.0,69,0
5175,1791001,2,1918,1,2007-04-12,False,NaN,1997-03-07,2012-12-24,3688.0,2083.0,69,0
5864,8243001,1,1929,1,2009-04-01,True,4693.0,1997-03-07,2013-05-08,4408.0,1498.0,75,0
5899,774001,1,1929,1,2009-04-01,False,NaN,1997-03-07,2013-05-16,4408.0,1506.0,75,0
4361,8526001,1,1924,1,2010-03-09,True,1917.0,1997-03-07,2012-07-02,4750.0,846.0,78,0
4430,7273001,1,1924,1,2010-03-09,False,NaN,1997-03-07,2012-07-17,4750.0,861.0,78,0
5901,8575001,2,1935,1,2009-11-17,True,4693.0,1997-03-07,2013-05-17,4638.0,1277.0,80,0
5745,5976001,2,1935,1,2009-11-17,False,NaN,1997-03-07,2013-04-15,4638.0,1245.0,80,0
5884,10189001,1,1939,1,2010-07-07,True,1917.0,1997-03-07,2013-05-13,4870.0,1041.0,99,0
3656,14446001,1,1939,1,2010-07-07,False,NaN,1998-07-30,2013-04-30,4360.0,1028.0,99,0
5750,558001,2,1937,1,2008-12-30,False,NaN,1997-03-07,2013-04-17,4316.0,1569.0,101,0
5683,10485001,2,1937,1,2008-12-30,True,1350.0,1997-03-07,2013-04-02,4316.0,1554.0,101,0
5544,10980001,2,1926,1,2010-10-15,True,1917.0,1997-03-07,2013-03-06,4970.0,873.0,103,0
5771,2855001,2,1926,1,2010-10-15,False,NaN,1997-03-07,2013-04-22,4970.0,920.0,103,0
5752,7920001,1,1932,1,2008-06-18,False,NaN,1997-03-07,2013-04-17,4121.0,1764.0,109,0
1568,11783001,1,1932,1,2008-06-18,True,1917.0,1997-03-07,2010-09-01,4121.0,805.0,109,0
5860,519001,2,1927,1,2009-08-03,False,NaN,1997-03-07,2013-05-07,4532.0,1373.0,111,0
3841,11977001,2,1927,1,2009-08-03,True,6578.0,1997-03-07,2012-01-28,4532.0,908.0,111,0
5897,9941001,1,1933,1,2009-02-13,False,NaN,1997-03-07,2013-05-16,4361.0,1553.0,118,0
4055,14109001,1,1933,1,2009-02-13,True,1350.0,1998-04-20,2013-05-16,3952.0,1553.0,118,0
1940,7919002,2,1925,2,2009-10-23,False,NaN,1999-08-31,2013-04-17,3706.0,1272.0,139,0
814,568002,2,1925,2,2009-10-23,True,1917.0,1999-08-31,2012-10-18,3706.0,1091.0,139,0
302,30040002,2,1928,2,2011-03-21,False,NaN,2000-09-12,2013-05-07,3842.0,778.0,148,0
2046,1142002,2,1928,2,2011-03-21,True,1917.0,1999-08-31,2013-05-07,4220.0,778.0,148,0
2064,1277002,1,1939,2,2011-01-07,True,4693.0,1999-08-31,2013-05-08,4147.0,852.0,150,0
1416,3365002,1,1939,2,2011-01-07,False,NaN,1999-09-01,2013-02-06,4146.0,761.0,150,0
2013,13321002,2,1925,2,2011-03-02,False,NaN,1999-09-01,2013-04-30,4200.0,790.0,170,0
1995,2499002,2,1925,2,2011-03-02,True,1917.0,1999-08-31,2013-04-25,4201.0,785.0,170,0
2015,25807002,1,1927,2,2009-12-28,False,NaN,1999-09-01,2013-04-30,3771.0,1219.0,190,0
431,3332002,1,1927,2,2009-12-28,True,26270.0,1999-08-31,2012-06-20,3772.0,905.0,190,0
2036,13564002,2,1919,2,2010-11-03,False,NaN,1999-08-31,2013-05-03,4082.0,912.0,205,0
1977,4157002,2,1919,2,2010-11-03,True,8195.0,1999-08-31,2013-04-22,4082.0,901.0,205,0
987,4365002,1,1925,2,2010-04-26,True,6578.0,1999-08-31,2012-12-07,3891.0,956.0,209,0
1932,9255002,1,1925,2,2010-04-26,False,NaN,1999-08-31,2013-04-17,3891.0,1087.0,209,0
2006,3694002,2,1930,2,2010-09-26,False,NaN,1999-08-31,2013-04-27,4044.0,944.0,214,0
2057,4554002,2,1930,2,2010-09-26,True,1917.0,1999-08-31,2013-05-08,4044.0,955.0,214,0
1594,24217002,1,1931,2,2010-04-30,False,NaN,1999-08-31,2013-03-01,3895.0,1036.0,224,0
2030,5418002,1,1931,2,2010-04-30,True,6578.0,1999-08-31,2013-05-02,3895.0,1098.0,224,0
1705,1931002,2,1915,2,2010-12-31,False,NaN,1999-08-31,2013-03-21,4140.0,811.0,251,0
2061,6955002,2,1915,2,2010-12-31,True,4693.0,1999-08-31,2013-05-08,4140.0,859.0,251,0
204,7082002,2,1927,2,2010-12-14,True,8195.0,2000-10-16,2013-04-30,3711.0,868.0,254,2
1424,10884002,2,1927,2,2010-12-14,False,NaN,1999-08-31,2013-02-07,4123.0,786.0,254,0
2039,917002,1,1936,2,2010-12-08,False,NaN,1999-09-01,2013-05-07,4116.0,881.0,261,0
1907,7565002,1,1936,2,2010-12-08,True,1917.0,1999-08-31,2013-04-12,4117.0,856.0,261,0
1537,7784002,2,1931,2,2010-07-28,True,1917.0,1999-08-31,2013-02-20,3984.0,938.0,265,0
1702,9019002,2,1931,2,2010-07-28,False,NaN,1999-08-31,2013-03-21,3984.0,967.0,265,0
1982,72002,2,1943,2,2009-09-10,False,NaN,1999-08-31,2013-04-23,3663.0,1321.0,266,0
2056,7790002,2,1943,2,2009-09-10,True,1917.0,1999-08-31,2013-05-08,3663.0,1336.0,266,0
1936,13818002,2,1931,2,2010-02-08,False,NaN,1999-08-31,2013-04-17,3814.0,1164.0,274,0
1606,8292002,2,1931,2,2010-02-08,True,1917.0,1999-08-31,2013-03-04,3814.0,1120.0,274,0
2069,8606002,2,1930,2,2010-10-29,True,1917.0,1999-08-31,2013-05-09,4077.0,923.0,279,0
2014,1057002,2,1930,2,2010-10-29,False,NaN,1999-08-31,2013-04-29,4077.0,913.0,279,0
1695,8718002,2,1911,2,2011-01-24,True,4693.0,1999-09-01,2013-03-21,4163.0,787.0,282,0
1857,15787002,2,1911,2,2011-01-24,False,NaN,1999-08-31,2013-04-04,4164.0,801.0,282,0
1704,9744002,2,1926,2,2011-01-28,True,4693.0,1999-08-31,2013-03-21,4168.0,783.0,304,0
1713,4396002,2,1926,2,2011-01-28,False,NaN,1999-08-31,2013-03-21,4168.0,783.0,304,0
2058,16777002,2,1934,2,2011-03-28,False,NaN,1999-08-31,2013-05-08,4227.0,772.0,316,0
2071,10886002,2,1934,2,2011-03-28,True,37015.0,1999-08-31,2013-05-09,4227.0,773.0,316,1
893,28008002,1,1923,2,2010-07-01,False,NaN,2000-02-15,2013-04-24,3789.0,1028.0,322,0
1964,11554002,1,1923,2,2010-07-01,True,1917.0,1999-09-01,2013-04-22,3956.0,1026.0,322,0
2048,12539002,1,1925,2,2010-12-14,True,6578.0,1999-08-31,2013-05-07,4123.0,875.0,337,0
2020,12381002,1,1925,2,2010-12-14,False,NaN,1999-08-31,2013-04-30,4123.0,868.0,337,0
1517,4283002,2,1918,2,2010-10-22,False,NaN,1999-08-31,2013-02-18,4070.0,850.0,342,0
1972,12720002,2,1918,2,2010-10-22,True,7664.0,1999-08-31,2013-04-22,4070.0,913.0,342,0
1915,13044002,1,1938,2,2010-11-10,True,6578.0,1999-08-31,2013-04-15,4089.0,887.0,348,0
176,12759002,1,1938,2,2010-11-10,False,NaN,2000-06-12,2012-12-07,3803.0,758.0,348,0
978,13214002,2,1930,2,2009-09-16,True,1917.0,1999-08-31,2012-12-04,3669.0,1175.0,356,0
1976,14852002,2,1930,2,2009-09-16,False,NaN,1999-08-31,2013-04-22,3669.0,1314.0,356,0
246,3961002,2,1926,2,2010-01-22,False,NaN,1999-08-31,2012-04-02,3797.0,801.0,371,0
1627,14272002,2,1926,2,2010-01-22,True,6578.0,1999-08-31,2013-03-06,3797.0,1139.0,371,0
2044,15320002,2,1920,2,2011-01-31,True,4693.0,1999-08-31,2013-05-07,4171.0,827.0,382,0
1752,8033002,2,1920,2,2011-01-31,False,NaN,1999-10-14,2013-05-08,4127.0,828.0,382,0
1998,17434002,2,1942,2,2010-09-09,True,38678.0,1999-08-31,2013-04-25,4027.0,959.0,403,0
2034,13384002,2,1942,2,2010-09-09,False,NaN,1999-08-31,2013-05-02,4027.0,966.0,403,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343,9202670,2,1919,670,2011-01-19,True,6578.0,1999-04-02,2013-02-19,4310.0,762.0,51196,0
2512,1731670,2,1919,670,2011-01-19,False,NaN,1999-04-02,2013-03-28,4310.0,799.0,51196,0
2358,24952670,1,1931,670,2010-06-30,False,NaN,1999-04-02,2013-02-21,4107.0,967.0,51198,0
971,9238670,1,1931,670,2010-06-30,True,4693.0,1999-04-02,2012-07-04,4107.0,735.0,51198,0
2545,9832670,1,1928,670,2010-10-14,True,1917.0,1999-04-02,2013-04-04,4213.0,903.0,51210,0
1820,18006670,1,1928,670,2010-10-14,False,NaN,1999-04-02,2012-11-01,4213.0,749.0,51210,0
1210,10170670,1,1922,670,2010-03-05,True,26270.0,1999-04-02,2012-08-17,3990.0,896.0,51220,0
66,35222670,1,1922,670,2010-03-05,False,NaN,1999-12-22,2012-03-29,3726.0,755.0,51220,0
2473,10362670,1,1920,670,2010-04-06,True,6578.0,1999-04-02,2013-03-20,4022.0,1079.0,51224,0
735,8531670,1,1920,670,2010-04-06,False,NaN,1999-04-02,2012-05-03,4022.0,758.0,51224,0
1567,10441670,2,1932,670,2010-09-21,True,6578.0,1999-04-02,2012-09-25,4190.0,735.0,51227,0
1962,23534670,2,1932,670,2010-09-21,False,NaN,1999-04-02,2012-11-20,4190.0,791.0,51227,0
2345,10993670,2,1928,670,2009-10-08,True,4693.0,1999-04-02,2013-02-19,3842.0,1230.0,51239,0
2334,21287670,2,1928,670,2009-10-08,False,NaN,1999-04-02,2013-02-18,3842.0,1229.0,51239,0
2337,10096670,1,1925,670,2011-01-17,False,NaN,1999-04-02,2013-02-19,4308.0,764.0,51242,0
2536,11486670,1,1925,670,2011-01-17,True,7572.0,1999-04-02,2013-04-03,4308.0,807.0,51242,0
2535,11680670,2,1922,670,2011-01-21,True,4693.0,1999-04-02,2013-04-03,4312.0,803.0,51245,1
2443,4228670,2,1922,670,2011-01-21,False,NaN,1999-04-02,2013-03-13,4312.0,782.0,51245,0
1569,6780670,1,1928,670,2009-06-17,False,NaN,1999-04-02,2012-09-26,3729.0,1197.0,51246,0
98,11790670,1,1928,670,2009-06-17,True,4693.0,1999-04-02,2011-08-11,3729.0,785.0,51246,0
2339,27698670,2,1926,670,2009-08-21,False,NaN,1999-04-02,2013-02-19,3794.0,1278.0,51266,0
397,13244670,2,1926,670,2009-08-21,True,6578.0,1999-04-02,2012-01-10,3794.0,872.0,51266,0
2348,14866670,1,1923,670,2011-02-09,True,6578.0,1999-04-02,2013-02-19,4331.0,741.0,51284,0
2437,24030670,1,1923,670,2011-02-09,False,NaN,1999-04-02,2013-03-12,4331.0,762.0,51284,0
2354,31138670,1,1929,670,2010-01-06,False,NaN,1999-04-02,2013-02-20,3932.0,1141.0,51290,0
2498,15496670,1,1929,670,2010-01-06,True,26270.0,1999-04-02,2013-03-26,3932.0,1175.0,51290,0
903,10601670,1,1925,670,2009-09-30,False,NaN,1999-04-02,2012-06-13,3834.0,987.0,51291,0
406,15650670,1,1925,670,2009-09-30,True,19393.0,1999-04-02,2012-01-12,3834.0,834.0,51291,0
2224,25377670,2,1924,670,2009-10-13,False,NaN,1999-04-02,2013-01-18,3847.0,1193.0,51318,0
2508,18377670,2,1924,670,2009-10-13,True,1917.0,1999-04-02,2013-03-27,3847.0,1261.0,51318,0
1104,18720670,2,1920,670,2010-06-11,True,6578.0,1999-04-02,2012-07-31,4088.0,781.0,51322,0
2477,16499670,2,1920,670,2010-06-11,False,NaN,1999-04-02,2013-03-20,4088.0,1013.0,51322,0
2089,30181670,2,1924,670,2010-02-24,False,NaN,1999-04-02,2012-12-11,3981.0,1021.0,51325,0
2080,19167670,2,1924,670,2010-02-24,True,6578.0,1999-04-02,2012-12-10,3981.0,1020.0,51325,0
2485,19626670,2,1923,670,2009-12-15,True,4693.0,1999-04-02,2013-03-22,3910.0,1193.0,51330,0
2401,15310670,2,1923,670,2009-12-15,False,NaN,1999-04-02,2013-03-04,3910.0,1175.0,51330,0
1108,12660670,2,1925,670,2010-05-24,False,NaN,1999-04-02,2012-08-01,4070.0,800.0,51340,0
2361,20619670,2,1925,670,2010-05-24,True,1350.0,1999-04-02,2013-02-21,4070.0,1004.0,51340,0
2493,9418670,2,1926,670,2010-11-03,False,NaN,1999-04-02,2013-03-25,4233.0,873.0,51341,0
2541,20625670,2,1926,670,2010-11-03,True,6578.0,1999-04-02,2013-04-04,4233.0,883.0,51341,0
2543,20630670,2,1928,670,2009-11-25,True,6578.0,1999-04-02,2013-04-04,3890.0,1226.0,51342,0
2465,6964670,2,1928,670,2009-11-25,False,NaN,1999-04-02,2013-03-19,3890.0,1210.0,51342,0
2495,20884670,1,1916,670,2010-03-31,True,6578.0,1999-04-02,2013-03-25,4016.0,1090.0,51346,0
2472,7427670,1,1916,670,2010-03-31,False,NaN,1999-04-02,2013-03-20,4016.0,1085.0,51346,0
2509,21344670,2,1922,670,2010-05-12,True,1350.0,1999-04-02,2013-03-27,4058.0,1050.0,51352,0
1049,21154670,2,1922,670,2010-05-12,False,NaN,1999-04-02,2012-07-23,4058.0,803.0,51352,0
1653,21759670,2,1919,670,2010-03-03,True,1916.0,1999-04-02,2012-10-11,3988.0,953.0,51355,0
856,19999670,2,1919,670,2010-03-03,False,NaN,1999-04-02,2012-05-31,3988.0,820.0,51355,0
2546,21880670,2,1931,670,2009-03-30,True,6578.0,1999-04-02,2013-04-04,3650.0,1466.0,51359,0
2471,26862670,2,1931,670,2009-03-30,False,NaN,1999-04-02,2013-03-19,3650.0,1450.0,51359,0
2448,21917670,1,1916,670,2010-02-19,True,6578.0,1999-04-02,2013-03-15,3976.0,1120.0,51361,1
2344,8255670,1,1916,670,2010-02-19,False,NaN,1999-04-02,2013-02-19,3976.0,1096.0,51361,0
2299,16901670,2,1934,670,2009-04-20,False,NaN,1999-04-02,2013-02-08,3671.0,1390.0,51370,0
2537,22703670,2,1934,670,2009-04-20,True,1350.0,1999-04-02,2013-04-03,3671.0,1444.0,51370,0
1918,8786670,1,1916,670,2010-11-10,False,NaN,1999-04-02,2012-11-16,4240.0,737.0,51374,0
2276,22938670,1,1916,670,2010-11-10,True,19393.0,1999-04-02,2013-01-31,4240.0,813.0,51374,0
2486,20121670,2,1935,670,2009-07-14,False,NaN,1999-04-02,2013-03-22,3756.0,1347.0,51375,0
2531,22991670,2,1935,670,2009-07-14,True,1916.0,1999-04-02,2013-04-03,3756.0,1359.0,51375,0
2540,23029670,2,1928,670,2009-08-26,True,1350.0,1999-04-02,2013-04-04,3799.0,1317.0,51378,0
2419,23332670,2,1928,670,2009-08-26,False,NaN,1999-04-02,2013-03-08,3799.0,1290.0,51378,0
2552,14439670,2,1936,670,2011-01-28,False,NaN,1999-04-02,2013-04-05,4319.0,798.0,51392,0
2505,23978670,2,1936,670,2011-01-28,True,7664.0,1999-04-02,2013-03-27,4319.0,789.0,51392,0
2502,3343670,2,1938,670,2009-07-21,False,NaN,1999-04-02,2013-03-26,3763.0,1344.0,51404,0
2292,24505670,2,1938,670,2009-07-21,True,8195.0,1999-04-02,2013-02-07,3763.0,1297.0,51404,0
314,19853670,1,1920,670,2009-10-02,False,NaN,1999-04-02,2011-11-30,3836.0,789.0,51422,0
2347,29050670,1,1920,670,2009-10-02,True,4693.0,1999-04-02,2013-02-19,3836.0,1236.0,51422,0
2464,29645670,1,1929,670,2011-03-15,True,8195.0,1999-04-02,2013-03-18,4365.0,734.0,51424,0
2528,4478670,1,1929,670,2011-03-15,False,NaN,1999-04-02,2013-04-02,4365.0,749.0,51424,0
2558,32665670,1,1933,670,2011-02-09,True,6578.0,1999-04-02,2013-04-06,4331.0,787.0,51431,2
2463,10978670,1,1933,670,2011-02-09,False,NaN,1999-04-02,2013-03-18,4331.0,768.0,51431,0
2532,24276670,2,1942,670,2010-12-07,False,NaN,1999-04-02,2013-04-03,4267.0,848.0,51443,0
107,38172670,2,1942,670,2010-12-07,True,1917.0,2000-10-24,2013-03-11,3696.0,825.0,51443,0
1835,2339672,2,1927,672,2010-10-14,True,6578.0,1999-09-27,2013-04-29,4035.0,928.0,51522,0
1712,8673672,2,1927,672,2010-10-14,False,NaN,1999-09-27,2013-04-17,4035.0,916.0,51522,0
956,6361672,2,1930,672,2009-12-11,False,NaN,1999-09-27,2012-12-24,3728.0,1109.0,51554,0
1766,7879672,2,1930,672,2009-12-11,True,19393.0,1999-09-27,2013-04-23,3728.0,1229.0,51554,0
1826,17225672,2,1922,672,2011-03-17,True,4693.0,1999-09-27,2013-04-29,4189.0,774.0,51575,0
1776,12593672,2,1922,672,2011-03-17,False,NaN,1999-09-27,2013-04-24,4189.0,769.0,51575,0
1795,7330672,1,1930,672,2010-03-24,False,NaN,1999-09-27,2013-04-26,3831.0,1129.0,51576,0
1780,17768672,1,1930,672,2010-03-24,True,6578.0,1999-09-27,2013-04-24,3831.0,1127.0,51576,0
158,1158674,1,1926,674,2011-02-24,False,NaN,2000-11-21,2013-05-07,3747.0,803.0,51685,0
150,14364674,1,1926,674,2011-02-24,True,1916.0,2000-11-21,2013-05-03,3747.0,799.0,51685,0
1222,574675,2,1933,675,2010-10-12,True,1917.0,1999-12-07,2013-04-24,3962.0,925.0,51695,0
1253,8251675,2,1933,675,2010-10-12,False,NaN,1999-12-07,2013-04-29,3962.0,930.0,51695,0
1348,763675,2,1924,675,2010-09-06,True,1917.0,1999-12-07,2013-05-08,3926.0,975.0,51700,0
1271,1062675,2,1924,675,2010-09-06,False,NaN,1999-12-07,2013-05-02,3926.0,969.0,51700,0
1349,2728675,2,1930,675,2010-03-16,True,8195.0,1999-12-07,2013-05-08,3752.0,1149.0,51719,0
133,7728675,2,1930,675,2010-03-16,False,NaN,1999-12-07,2012-05-09,3752.0,785.0,51719,0
1231,3053675,1,1934,675,2010-10-19,False,NaN,1999-12-07,2013-04-26,3969.0,920.0,51730,0
1341,3831675,1,1934,675,2010-10-19,True,6578.0,1999-12-07,2013-05-07,3969.0,931.0,51730,0
1281,4301675,2,1932,675,2010-03-02,True,7664.0,1999-12-07,2013-05-03,3738.0,1158.0,51733,0
1228,4371675,2,1932,675,2010-03-02,False,NaN,1999-12-07,2013-04-25,3738.0,1150.0,51733,0
1002,8440675,1,1922,675,2010-07-12,False,NaN,1999-12-07,2013-03-19,3870.0,981.0,51741,0
1141,5568675,1,1922,675,2010-07-12,True,8195.0,1999-12-07,2013-04-12,3870.0,1005.0,51741,0
1336,6030675,2,1931,675,2010-08-04,True,31016.0,1999-12-07,2013-05-07,3893.0,1007.0,51744,0
1287,6420675,2,1931,675,2010-08-04,False,NaN,1999-12-07,2013-05-03,3893.0,1003.0,51744,0
1345,6309675,1,1937,675,2011-02-03,True,6578.0,1999-12-07,2013-05-08,4076.0,825.0,51747,0
1273,7834675,1,1937,675,2011-02-03,False,NaN,1999-12-07,2013-05-02,4076.0,819.0,51747,0
1289,6635675,2,1931,675,2011-01-27,True,8195.0,1999-12-07,2013-05-03,4069.0,827.0,51750,0
1274,3375675,2,1931,675,2011-01-27,False,NaN,1999-12-07,2013-05-02,4069.0,826.0,51750,0