In [4]:
import pandas as pd
from my_functions import *

In [5]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [6]:
pt_features = pd.read_csv('data/pt_data/pt_features.csv',delimiter=',',parse_dates=['index_date'])

In [11]:
pt_features[pt_features['insomnia_event_count']>0].sort_values(by='insomnia_event_count',ascending=False)

,patid,pracid,gender,birthyear,index_date,isCase,earliest_sysdate,latest_sysdate,days_pre_indexdate,days_post_indexdate,matchid,insomnia_event_count
11403,6762193,193,2,1917,2009-05-02,False,1997-11-14,2013-04-22,4187.0,1451.0,8870.0,24
10661,8291322,322,2,1921,2008-07-02,False,1995-09-21,2013-04-22,4668.0,1755.0,2770.0,19
5799,5842194,194,2,1939,2010-06-05,True,1996-08-09,2013-05-10,5048.0,1070.0,3288.0,15
1173,1570199,199,1,1928,2006-11-07,True,1996-05-12,2011-05-20,3831.0,1655.0,5947.0,11
4659,5114043,43,2,1916,2008-08-11,True,1996-01-05,2012-03-10,4602.0,1307.0,1949.0,11
2039,2287025,25,2,1944,2011-03-22,True,2000-04-27,2011-10-12,3981.0,204.0,3124.0,9
8784,2124315,315,2,1921,2011-01-31,False,1999-11-26,2013-04-25,4084.0,815.0,6781.0,8
4748,17217653,653,2,1924,2010-01-12,True,1997-05-10,2013-04-17,4630.0,1191.0,5581.0,8
5856,2831336,336,2,1928,2010-08-12,True,1996-09-25,2012-11-15,5069.0,826.0,7507.0,8
6336,4398431,431,2,1927,2011-04-05,True,1996-07-25,2013-04-09,5367.0,735.0,8788.0,7
6998,15936005,5,2,1920,2008-04-07,False,1997-11-21,2010-08-04,3790.0,849.0,2550.0,7
3506,199159,159,2,1931,2009-03-30,True,1997-07-27,2013-05-13,4264.0,1505.0,9751.0,7
10933,747436,436,2,1923,2010-11-03,False,1999-08-02,2013-04-08,4111.0,887.0,7973.0,6
11880,5423115,115,2,1930,2008-07-17,False,1996-03-03,2013-01-23,4519.0,1651.0,5250.0,6
1655,15842109,109,2,1928,2008-05-16,True,1997-08-28,2013-05-02,3914.0,1812.0,5592.0,6
5945,4515331,331,2,1930,2010-04-27,True,1996-05-02,2013-05-01,5108.0,1100.0,407.0,6
11524,3691174,174,2,1923,2010-09-06,False,1996-11-06,2013-05-09,5052.0,976.0,6822.0,6
8117,2477115,115,2,1922,2010-10-10,False,1996-03-03,2013-02-26,5334.0,870.0,10571.0,6
7201,3909084,84,2,1928,2010-01-07,False,1999-12-10,2013-04-02,3681.0,1181.0,3283.0,6
3017,10871398,398,2,1919,2009-04-21,True,1997-11-28,2011-01-20,4162.0,639.0,2620.0,6
529,19865051,51,2,1938,2011-02-15,True,2000-11-30,2013-04-23,3729.0,798.0,4036.0,6
2802,18881427,427,1,1931,2006-12-10,True,1995-09-02,2009-11-09,4117.0,1065.0,5337.0,5
11750,14803051,51,1,1927,2008-07-04,False,1997-01-18,2013-03-26,4185.0,1726.0,9529.0,5
4307,7693166,166,2,1926,2008-09-04,True,1996-05-22,2008-07-17,4488.0,-49.0,8600.0,5
2886,34138465,465,1,1929,2007-12-11,True,1996-08-17,2008-04-04,4133.0,115.0,11682.0,5
2940,7519282,282,2,1921,2010-08-12,True,1999-04-08,2013-01-25,4144.0,897.0,6930.0,5
2578,2872017,17,2,1922,2009-06-15,True,1998-04-18,2012-06-01,4076.0,1082.0,4664.0,5
8349,10344059,59,2,1931,2011-02-14,False,1996-06-15,2013-03-21,5357.0,766.0,2326.0,5
5188,303273,273,1,1936,2011-03-08,True,1998-01-07,2012-06-14,4808.0,464.0,4249.0,5
2570,2328359,359,2,1927,2008-06-06,True,1997-04-11,2013-04-22,4074.0,1781.0,7763.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
5047,5216257,257,2,1928,2009-11-13,True,1996-11-12,2011-03-07,4749.0,479.0,8299.0,1
5073,6487483,483,2,1921,2009-07-14,True,1996-07-03,2009-12-31,4759.0,170.0,6516.0,1
5078,10972410,410,2,1919,2010-04-10,True,1997-03-27,2013-05-14,4762.0,1130.0,3964.0,1
5080,2993018,18,1,1937,2009-05-22,True,1996-05-07,2013-02-11,4763.0,1361.0,7089.0,1
5137,6238081,81,2,1939,2009-10-23,True,1996-09-12,2013-04-04,4789.0,1259.0,8193.0,1
5139,4832483,483,1,1922,2009-08-13,True,1996-07-03,2009-12-30,4789.0,139.0,7011.0,1
5159,6674225,225,2,1929,2009-08-08,True,1996-06-20,2011-03-10,4797.0,579.0,7453.0,1
5191,18111110,110,1,1924,2010-03-23,True,1997-01-22,2013-05-08,4808.0,1142.0,7910.0,1
5230,3301322,322,2,1917,2008-12-02,True,1995-09-21,2009-01-06,4821.0,35.0,5160.0,1
5235,3128166,166,1,1929,2010-02-02,True,1996-11-19,2013-01-24,4823.0,1087.0,707.0,1
4952,6894124,124,2,1935,2011-03-30,True,1998-05-08,2011-06-16,4709.0,78.0,10837.0,1
4935,2898202,202,2,1923,2011-05-07,True,1998-06-23,2013-05-22,4701.0,746.0,4804.0,1
4513,304018,18,2,1923,2008-09-09,True,1996-03-18,2011-07-15,4558.0,1039.0,7748.0,1
4932,16016051,51,2,1926,2009-12-01,True,1997-01-18,2013-01-20,4700.0,1146.0,9930.0,1
4542,885257,257,1,1923,2009-05-14,True,1996-11-12,2009-08-11,4566.0,89.0,9637.0,1
4548,13769309,309,2,1921,2009-11-18,True,1997-05-17,2010-01-20,4568.0,63.0,5090.0,1
4579,2746093,93,2,1924,2009-01-04,True,1996-06-24,2013-05-15,4577.0,1592.0,7947.0,1
4586,4541110,110,2,1917,2009-08-06,True,1997-01-22,2012-03-15,4579.0,952.0,5373.0,1
4629,16687149,149,2,1930,2010-08-03,True,1998-01-08,2013-03-21,4590.0,961.0,4784.0,1
4641,14636438,438,1,1921,2009-06-02,True,1996-11-03,2009-04-29,4594.0,-34.0,7501.0,1
4645,4980156,156,2,1918,2009-02-16,True,1996-07-18,2012-12-07,4596.0,1390.0,10117.0,1
4660,3764051,51,2,1942,2009-08-25,True,1997-01-18,2013-05-02,4602.0,1346.0,7882.0,1
4665,670190,190,2,1929,2010-09-13,True,1998-02-04,2013-05-08,4604.0,968.0,8966.0,1
4669,3046115,115,2,1938,2008-10-12,True,1996-03-03,2013-05-03,4606.0,1664.0,2352.0,1
4702,21061404,404,2,1941,2009-12-22,True,1997-05-01,2013-05-21,4618.0,1246.0,9023.0,1
4758,8851174,174,2,1932,2009-07-15,True,1996-11-06,2012-01-25,4634.0,924.0,4138.0,1
4775,23258438,438,1,1922,2009-07-18,True,1996-11-03,2009-10-01,4640.0,75.0,1823.0,1
4810,2012193,193,2,1924,2010-08-18,True,1997-11-14,2012-02-17,4660.0,548.0,8214.0,1
4867,3340389,389,2,1922,2009-01-01,True,1996-03-12,2013-04-23,4678.0,1573.0,6687.0,1
12902,1980658,658,1,1943,2010-04-11,False,1997-05-30,2013-03-08,4699.0,1062.0,11688.0,1

In [15]:
pt_features[pt_features['isCase']==True].loc[:,'insomnia_event_count'].mean()

0.11076732673267327

In [16]:
pt_features[pt_features['isCase']==False].loc[:,'insomnia_event_count'].mean()

0.085396039603960402

In [17]:
pt_features[(pt_features['isCase']==True)&(pt_features['insomnia_event_count']>0)].count()

patid                   418
pracid                  418
gender                  418
birthyear               418
index_date              418
isCase                  418
earliest_sysdate        418
latest_sysdate          418
days_pre_indexdate      418
days_post_indexdate     418
matchid                 418
insomnia_event_count    418
dtype: int64

In [10]:
pt_features[(pt_features['isCase']==False)&(pt_features['insomnia_event_count']>0)].count()

patid                   327
pracid                  327
gender                  327
birthyear               327
index_date              327
isCase                  327
earliest_sysdate        327
latest_sysdate          327
days_pre_indexdate      327
days_post_indexdate     327
matchid                 327
insomnia_event_count    327
dtype: int64

In [1]:
418/(12928/2)*100

6.466584158415841

In [2]:
327/(12928/2)*100

5.058787128712872