In [1]:
%load_ext autoreload

In [2]:
%autoreload 1

In [3]:
%aimport my_functions
%aimport codelists
%aimport constants

In [4]:
import pandas as pd
from my_functions import *
import codelists
import constants
import datetime

In [5]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [6]:
# consultations = pd.read_csv('data/pt_data/consultations.csv',delimiter=',')

In [7]:
# medcoded_entries = pd.read_csv('data/pt_data/medcoded_entries.csv',delimiter=',')

In [8]:
# prescriptions = pd.read_csv('data/pt_data/prescriptions.csv',delimiter=',',usecols=['patid','eventdate','sysdate','prodcode'])

In [9]:
# prescriptions['type']=constants.Entry_Type.prescription

In [10]:
# all_entries = pd.concat([consultations,medcoded_entries,prescriptions])

In [11]:
# all_entries.sort_values(by='patid',inplace=True)

In [12]:
# all_entries.sample(100)

In [13]:
# all_entries.to_csv('data/pt_data/all_entries.csv',index=False)

In [14]:
# immunisations = pd.read_csv('data/pt_data/Extract_Immunisation_001.txt',delimiter='\t',usecols=['patid','sysdate','eventdate','medcode'])

In [15]:
# immunisations['type']=constants.Entry_Type.immunisation

In [16]:
# imm_with_info = pd.merge(immunisations,pegmed[['medcode','read term']],how='left')

In [17]:
# imm_with_info.sample(150)

In [18]:
create_medcoded_entries()

calling create_medcoded_entries
processing clinical
processing clinical - concatentating
processing clinical - converting to datetime
processing tests
processing test - concatentating
processing test - converting to datetime - eventdate
processing test - converting to datetime - sysdate
processing referrals
processing referrals - converting to datetime - eventdate
processing referrals - converting to datetime - sysdate
processing immunisations
processing immunisations - converting to datetime - eventdate
processing referrals - converting to datetime - sysdate
concatenating the different entry types
writing to csv

In [19]:
create_all_entries()

calling create_all_entries
converting to datetime - eventdate
converting to datetime - sysdate
concatenating...
writing to file...

In [40]:
all_entries = pd.read_csv('data/pt_data/all_entries.csv',delimiter=',',parse_dates=[0,4],infer_datetime_format=True)

In [44]:
all_entries.sample(150)

           eventdate  medcode     patid  prodcode    sysdate  type
57019202  2003-08-28   3550.0   1997280       NaN 2003-08-28     2
100016693 2003-10-06      6.0  19329196       NaN 2007-02-14     4
92971718  2009-09-03     20.0   3125492       NaN 2009-09-04     3
42156673  2004-11-25      NaN  16093643       NaN 2008-07-03     0
48328917  2009-05-12   6470.0   1400096       NaN 2009-05-12     2
30381884  2011-06-08      NaN   5889435       NaN 2011-06-08     0
14908086  2008-08-15      NaN   4370202       NaN 2008-08-15     0
19558239  2011-11-24      NaN  30014263       NaN 2011-11-24     0
6057989   2007-12-10      NaN  16915089       NaN 2007-12-10     0
91547168  2012-11-06  14138.0  20763460       NaN 2012-11-06     3
27718838  2004-08-06      NaN  13715393       NaN 2006-02-13     0
101589867 2013-02-28      NaN  10789031      46.0 2013-02-28     5
103021220 2006-06-01      NaN   4813117      55.0 2006-06-01     5
43093457  2009-05-15      NaN  12764661       NaN 2009-05-15     0
1977465   2012-03-28      NaN   4042025       NaN 2012-03-28     0
103730155 2002-12-17      NaN   3170157       2.0 2002-12-17     5
61600964  1994-10-13    198.0   5074391       NaN 1997-05-27     2
23649335  1998-03-24      NaN   1908323       NaN 1998-03-24     0
102399818 2005-02-07      NaN   6144085      82.0 2005-02-07     5
61059638  2007-02-13   1649.0   6602379       NaN 2007-02-13     2
16326477  2003-02-27      NaN   4995223       NaN 2003-02-27     0
65549910  2008-07-31  27767.0  16423470       NaN 2008-08-08     2
85651652  2001-04-20  14053.0   5855310       NaN 2001-04-20     3
29707317  2008-01-07      NaN    879426       NaN 2008-01-07     0
80510271  2007-11-02     10.0   5146191       NaN 2007-11-03     3
9726070   2002-03-08      NaN   1843137       NaN 2002-03-08     0
68421907  1999-03-30      2.0   2529541       NaN 1999-05-24     2
103297199 2002-04-29      NaN    348137       7.0 2002-04-29     5
48386396  2010-05-14   7971.0   4248097       NaN 2010-05-14     2
51947112  2008-02-04  13162.0   3687172       NaN 2008-02-04     2
...              ...      ...       ...       ...        ...   ...
23898531  2012-10-25      NaN  13061325       NaN 2012-10-25     0
87412924  2004-11-19     50.0  13096357       NaN 2004-11-22     3
18661751  2012-10-24      NaN    921255       NaN 2012-10-24     0
18618055  2002-11-29      NaN   1165254       NaN 2002-11-29     0
42022317  2007-07-05      NaN  35416640       NaN 2007-07-09     0
74978912  2010-06-15     37.0    633068       NaN 2010-06-18     3
19944513  2012-08-30      NaN  24078270       NaN 2012-08-30     0
35461808  2010-06-24      NaN   3838495       NaN 2010-06-24     0
88015270  2012-12-03     45.0   7816377       NaN 2012-12-04     3
86583074  2001-06-21     13.0   1322329       NaN 2004-03-03     3
105440694 1998-06-15      NaN   7998250     297.0 1998-06-15     5
19573990  2003-07-29      NaN   2900264       NaN 2003-07-29     0
92921325  2009-05-15   1862.0   5070490       NaN 2009-05-15     3
60114001  2006-11-07      1.0    413350       NaN 2006-11-07     2
93030658  2011-01-28     24.0   5603494       NaN 2011-02-21     3
5898790   2000-02-01      NaN  30981088       NaN 2000-02-01     0
653691    2002-04-08      NaN   7305005       NaN 2002-04-08     0
45000047  2013-03-19    358.0   5732018       NaN 2013-04-10     2
20778203  1999-09-14      NaN  17560284       NaN 1999-09-14     0
59007570  2006-03-29   3550.0   4244322       NaN 2006-03-29     2
99158383  2000-07-13    384.0   7149343       NaN 2000-07-19     1
37029058  2005-06-10      NaN   2427521       NaN 2005-06-10     0
103911862 1999-12-17      NaN   3368163       8.0 1999-12-17     5
20708454  2002-06-25      NaN  11284284       NaN 2002-06-25     0
66175599  1994-03-30     56.0    756481       NaN 2006-03-30     2
56864002  2006-06-20      1.0   6069274       NaN 2006-06-20     2
16499761  2002-06-07      NaN   6671225       NaN 2002-06-07     0
45791647  2006-03-24   7877.0    412036       NaN 2006-03-24     2
28519785  2007-01-10      NaN  11435404       NaN 2007-01-11     0
29532913  2005-11-14      NaN   4130420       NaN 2005-11-14     0

[150 rows x 6 columns]

In [21]:
# all_entries.drop('Unnamed: 0', axis=1, inplace=True)

In [43]:
# all_entries[all_entries['type']==5].loc[:,'eventdate'].apply(lambda x: x.date())

In [36]:
# all_entries.loc[:,'prodcode'].astype(int)

In [23]:
# pegprod = pd.read_csv('data/dicts/proc_pegasus_prod.csv',delimiter=',')

In [24]:
# pegmed = pd.read_csv('data/dicts/proc_pegasus_medical.csv',delimiter=',')

In [25]:
# pt_history = all_entries[all_entries['patid']==3234234]

In [26]:
# pt_history_elaborated = pd.merge(pt_history,pegmed[['medcode','read term']],how='left')

In [27]:
# pt_history_elaborated = pd.merge(pt_history_elaborated,pegprod[['prodcode','drug substance name']],how='left')