In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'col1':[4,5,5],'col2':[5,2,5]})

In [4]:
df

   col1  col2
0     4     5
1     5     2
2     5     5

In [6]:
df2 = pd.DataFrame({'col1':[4,5,5],'col2':[5,2,5],'col3':[64,4,2]})

In [7]:
df2

   col1  col2  col3
0     4     5    64
1     5     2     4
2     5     5     2

In [9]:
pd.concat([df,df2])

   col1  col2  col3
0     4     5   NaN
1     5     2   NaN
2     5     5   NaN
0     4     5  64.0
1     5     2   4.0
2     5     5   2.0