In [1]:
import pandas as pd
from my_functions import *
import datetime

In [2]:
create_pt_features()

In [3]:
features = pd.read_csv('data/pt_data/pt_features.csv',delimiter=',',parse_dates=True)

In [4]:
features.head(5)

,patID,pracID,gender,birthyear,case_index,matchID,data_start,data_end,isCase,prediagnosis_data_length_in_days
0,4923328,328,2,1916,2003-07-01,4355328,2000-01-01,2009-02-07,True,1277
1,1959216,216,1,1933,2011-02-25,6290216,2000-01-01,2012-06-01,True,4073
2,9271420,420,1,1917,2003-06-20,2770420,2003-01-02,2009-12-29,True,169
3,548429,429,2,1925,2005-05-11,5473429,2000-01-01,2012-06-01,True,1957
4,14185081,81,2,1917,2005-02-28,5951081,2000-01-01,2007-01-27,True,1885

In [6]:
insom_entries = pd.read_csv('data/pt_data/proc_insomnia_clinicalentries.csv',delimiter=',')

In [27]:
insom_entries.sort_values('patid').head(5)

,patid,eventdate,sysdate,constype,consid,medcode,staffid,textid,episode,enttype,adid,file
31137,1467,01/02/2008,01/02/2008,1,618,4537,4467,255,4,2,0,2
31134,1467,29/11/2007,29/11/2007,1,603,4537,4467,236,4,2,0,2
31133,1467,23/11/2007,23/11/2007,1,600,4537,4467,0,4,2,0,2
31135,1467,03/01/2008,03/01/2008,1,612,4537,4467,0,4,2,0,2
31140,1467,18/05/2009,18/05/2009,1,724,4537,4467,0,4,2,0,2

In [50]:
len(insom_entries[insom_entries==1467])

36071

In [68]:
insom_entries_by_patid=insom_entries.groupby(['patid','eventdate'])['medcode']

In [80]:
insom_entries_by_patid.count().head(15)

patid  eventdate
1467   01/02/2008    1
       01/03/2013    1
       02/06/2008    1
       03/01/2008    1
       08/09/2009    1
       15/02/2008    1
       18/05/2009    1
       23/11/2007    1
       24/01/2008    1
       29/11/2007    1
3432   10/11/2008    1
       31/12/2004    1
3549   09/11/2007    1
       10/10/2005    1
       20/01/2006    1
Name: medcode, dtype: int64

In [77]:
insom_entries_by_patid.get_group((1467,'01/02/2008'))

31137    4537
Name: medcode, dtype: int64

In [78]:
insom_entries_by_patid[1467]

Exception: Column(s) medcode already selected