In [42]:

import numpy as np
import pandas as pd
from constants import Entry_Type

In [43]:
df2 = pd.DataFrame({ 'A' : 1.,
'B' : pd.Timestamp('20130102'),
'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
'E' : ["referral","referral","test","clinical"],
'F' : 'foo' })

In [44]:
df2

     A          B    C         E    F
0  1.0 2013-01-02  1.0  referral  foo
1  1.0 2013-01-02  1.0  referral  foo
2  1.0 2013-01-02  1.0      test  foo
3  1.0 2013-01-02  1.0  clinical  foo

In [45]:
df2['F']=3

In [46]:
df2

     A          B    C         E  F
0  1.0 2013-01-02  1.0  referral  3
1  1.0 2013-01-02  1.0  referral  3
2  1.0 2013-01-02  1.0      test  3
3  1.0 2013-01-02  1.0  clinical  3

In [47]:
df2['F']=df2['C']*3

In [48]:
df2

     A          B    C         E    F
0  1.0 2013-01-02  1.0  referral  3.0
1  1.0 2013-01-02  1.0  referral  3.0
2  1.0 2013-01-02  1.0      test  3.0
3  1.0 2013-01-02  1.0  clinical  3.0

In [49]:
df2['E'].replace(Entry_Type.look_up,inplace=True)

In [50]:
df2

     A          B    C  E    F
0  1.0 2013-01-02  1.0  1  3.0
1  1.0 2013-01-02  1.0  1  3.0
2  1.0 2013-01-02  1.0  3  3.0
3  1.0 2013-01-02  1.0  2  3.0