In [51]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [52]:
cd ~/demres

/Users/zurfarosa/demres

In [65]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import numpy as np
from datetime import date, timedelta

import demres
from demres.common.constants import entry_type
from demres.common import codelists,druglists
from demres.common.process_pt_features import *
from demres.common.process_entries import *
from demres.demins.constants import Study_Design as sd
from demres.demins.statistical_functions import *
from common.helper_functions import *

In [54]:
pd.set_option('display.max_columns', None)

## Process raw CSV files

In [5]:
# create_pegmed()

In [6]:
# create_pegprod()

In [7]:
# create_prescriptions()

In [8]:
# create_consultations()

In [9]:
# create_clinicals()

In [10]:
# create_tests()

In [11]:
# create_referrals()

In [12]:
# create_immunisations()

In [13]:
# create_medcoded_entries()

## Create basic pt_features dataframe
*pt_features will contain all the variables (e.g. age, gender, insomnia count) used in the logistic regression*

In [5]:
# specify subtype of dementia we're interested in - 'vascular','alzheimers' or 'all_dementia'
subtype = 'all_dementia'

In [6]:
all_entries = get_all_entries()

In [28]:
pt_features = create_pt_features()

In [29]:
pt_features = get_index_date_and_caseness_and_add_final_dementia_subtype(all_entries,pt_features)

In [30]:
pt_features = only_include_specific_dementia_subtype(pt_features,subtype=subtype)

In [31]:
pt_features = add_data_start_and_end_dates(all_entries,pt_features)

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/indexing.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [32]:
len(pt_features[pt_features['isCase']==True]),len(pt_features[pt_features['isCase']==False])

(47480, 47020)

In [ ]:
pt_features.head(3)

In [42]:
for window in sd.exposure_windows:
    print(window['name'],' being processed')    
    pt_features_temp = match_cases_and_controls(pt_features,req_yrs_post_index=sd.req_yrs_post_index,start_year=abs(window['start_year']))
    pt_features_temp = delete_unmatched_cases_and_controls(pt_features_temp)
    pt_features_temp.to_csv('data/pt_data/processed_data/pt_features_demins_'+subtype+'_'+ window['name'] +'.csv',index=False)

12_to_7  being processed

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/indexing.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/Users/zurfarosa/demres/common/process_pt_features.py:167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  pt_features['matchid']=pt_features['matchid'].astype(int)

8_to_3  being processed

In [158]:
pt_features = pd.read_csv('data/pt_data/processed_data/pt_features_demins_all_dementia_10_to_5.csv',delimiter=',',parse_dates=['index_date','data_end','data_start'],infer_datetime_format=True)

In [159]:
pt_features.sort_values(by='matchid')

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid,age_at_index_date
14722,644001,1,35,1,2008-08-12,True,1350.0,1997-03-07,2013-05-17,8,73
14477,5976001,1,35,1,2008-08-12,False,NaN,1997-03-07,2013-04-15,8,73
10961,5551001,0,23,1,2007-09-12,False,NaN,1997-03-07,2012-01-04,16,84
11054,803001,0,23,1,2007-09-12,True,1350.0,1997-03-07,2012-01-19,16,84
14584,1946001,1,28,1,2011-03-03,False,NaN,1997-03-07,2013-05-01,22,83
14595,1064001,1,28,1,2011-03-03,True,1917.0,1997-03-07,2013-05-02,22,83
14522,1645001,0,29,1,2007-05-24,True,26270.0,1997-03-07,2013-04-23,25,78
12875,5988001,0,29,1,2007-05-24,False,NaN,1997-03-07,2012-10-26,25,78
14709,2136001,1,23,1,2009-03-16,True,6578.0,1997-03-07,2013-05-16,30,86
14648,11291001,1,23,1,2009-03-16,False,NaN,1997-03-07,2013-05-09,30,86
14400,2150001,0,22,1,2011-08-24,True,1917.0,1997-03-07,2013-04-05,31,89
14592,821001,0,22,1,2011-08-24,False,NaN,1997-03-07,2013-05-02,31,89
4734,13114001,1,23,1,2007-11-28,False,NaN,1997-09-17,2010-11-01,38,84
1860,2747001,1,23,1,2007-11-28,True,4693.0,1997-03-07,2009-03-25,38,84
14588,1939001,0,27,1,2008-09-17,False,NaN,1997-03-07,2013-05-01,40,81
1083,2834001,0,27,1,2008-09-17,True,1350.0,1997-03-07,2008-10-28,40,81
14598,6507001,1,34,1,2010-04-28,False,NaN,1997-03-07,2013-05-02,49,76
14749,3500001,1,34,1,2010-04-28,True,1917.0,1997-03-07,2013-05-20,49,76
423,3510001,0,28,1,2007-11-20,True,1350.0,1997-03-07,2008-05-09,50,79
14582,7856001,0,28,1,2007-11-20,False,NaN,1997-03-07,2013-05-01,50,79
14647,3762001,1,20,1,2011-03-11,True,1350.0,1997-03-07,2013-05-09,52,91
14471,432001,1,20,1,2011-03-11,False,NaN,1997-03-07,2013-04-15,52,91
13260,7772001,1,16,1,2011-11-16,False,NaN,1997-03-07,2012-12-11,63,95
14165,4345001,1,16,1,2011-11-16,True,6578.0,1997-03-07,2013-03-12,63,95
14580,4826001,1,18,1,2010-11-12,True,6578.0,1997-03-07,2013-05-01,70,92
14697,663001,1,18,1,2010-11-12,False,NaN,1997-03-07,2013-05-14,70,92
10971,4909001,0,35,1,2007-06-05,True,1350.0,1997-03-07,2012-01-06,72,72
14751,8289001,0,35,1,2007-06-05,False,NaN,1997-03-07,2013-05-20,72,72
14750,5942001,1,20,1,2011-07-12,False,NaN,1997-03-07,2013-05-20,73,91
14714,4940001,1,20,1,2011-07-12,True,1350.0,1997-03-07,2013-05-16,73,91
...,...,...,...,...,...,...,...,...,...,...,...
5768,574675,1,33,675,2010-10-12,True,1917.0,1999-12-07,2013-04-24,94389,77
5831,8251675,1,33,675,2010-10-12,False,NaN,1999-12-07,2013-04-29,94389,77
6013,763675,1,24,675,2010-09-06,True,1917.0,1999-12-07,2013-05-08,94395,86
5871,1062675,1,24,675,2010-09-06,False,NaN,1999-12-07,2013-05-02,94395,86
338,1504675,0,22,675,2010-02-11,True,6578.0,1999-12-07,2011-01-05,94405,88
5263,8440675,0,22,675,2010-02-11,False,NaN,1999-12-07,2013-03-19,94405,88
5780,7853675,0,36,675,2011-10-24,False,NaN,1999-12-07,2013-04-26,94415,75
3582,2244675,0,36,675,2011-10-24,True,6578.0,1999-12-07,2012-08-24,94415,75
6018,2728675,1,30,675,2010-03-16,True,8195.0,1999-12-07,2013-05-08,94424,80
4522,3819675,1,30,675,2010-03-16,False,NaN,1999-12-07,2012-12-20,94424,80
5785,3053675,0,34,675,2010-10-19,False,NaN,1999-12-07,2013-04-26,94439,76
5998,3831675,0,34,675,2010-10-19,True,6578.0,1999-12-07,2013-05-07,94439,76
5879,6826675,1,21,675,2012-04-30,False,NaN,1999-12-07,2013-05-03,94442,91
4444,4090675,1,21,675,2012-04-30,True,8195.0,1999-12-07,2012-12-13,94442,91
5770,4371675,1,32,675,2010-03-02,False,NaN,1999-12-07,2013-04-25,94445,78
5887,4301675,1,32,675,2010-03-02,True,7664.0,1999-12-07,2013-05-03,94445,78
5833,1952675,1,43,675,2011-05-03,False,NaN,1999-12-07,2013-04-29,94451,68
1777,4623675,1,43,675,2011-05-03,True,4693.0,1999-12-07,2011-12-09,94451,68
5997,1058675,0,22,675,2010-07-12,False,NaN,1999-12-07,2013-05-07,94461,88
5568,5568675,0,22,675,2010-07-12,True,8195.0,1999-12-07,2013-04-12,94461,88
5886,6420675,1,31,675,2010-08-04,False,NaN,1999-12-07,2013-05-03,94467,79
5991,6030675,1,31,675,2010-08-04,True,31016.0,1999-12-07,2013-05-07,94467,79
5777,6274675,0,31,675,2011-07-29,True,6578.0,1999-12-07,2013-04-25,94471,80
5818,4828675,0,31,675,2011-07-29,False,NaN,1999-12-07,2013-04-29,94471,80
6006,6309675,0,37,675,2011-02-03,True,6578.0,1999-12-07,2013-05-08,94473,74
5878,3395675,0,37,675,2011-02-03,False,NaN,1999-12-07,2013-05-03,94473,74
5861,7834675,0,37,675,2011-05-12,False,NaN,1999-12-07,2013-05-02,94474,74
4695,6415675,0,37,675,2011-05-12,True,29386.0,1999-12-07,2013-01-16,94474,74
5864,3375675,1,31,675,2011-01-27,False,NaN,1999-12-07,2013-05-02,94480,80
5880,6635675,1,31,675,2011-01-27,True,8195.0,1999-12-07,2013-05-03,94480,80

## Add derived variables to pt_features 
*e.g. insomnia count, presence of diabetes, consultation count*

In [43]:
medcoded_entries = pd.read_hdf('hdf/medcoded_entries.hdf')

In [44]:
prescriptions = pd.read_hdf('hdf/prescriptions.hdf')

In [ ]:
# Add condition status (e.g. insomnia count, presence of diabetes, presence of stroke)
for window in sd.exposure_windows:
    pt_features = pd.read_csv('data/pt_data/processed_data/pt_features_demins_'+subtype+'_'+ window['name'] +'.csv',delimiter=',',parse_dates=['index_date','data_end','data_start'],infer_datetime_format=True)
#     pt_features = get_multiple_condition_statuses(pt_features_temp,medcoded_entries,window,codelists.codelist_list_of_lists)
    pt_features = create_pdds(pt_features,prescriptions,window,druglists.psychotropic_list_of_lists)
    pt_features = divide_benzo_pdd_into_quantiles(pt_features,column_to_change='benzo_and_z_drugs_100_pdds')
#     pt_features = get_consultation_count(pt_features_temp,all_entries,window)
    pt_features.to_csv('data/pt_data/processed_data/pt_features_demins_'+subtype+'_'+ window['name'] +'.csv',index=False)

In [ ]:
pt_features.sample(3)