In [276]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [277]:
cd ~/demres

/Users/zurfarosa/demres

In [278]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import numpy as np
from datetime import date, timedelta

import demres
from demres.common.constants import entry_type
from demres.common import codelists
from demres.common.helper_functions import *
from demres.common.process_raw_data import *
from demres.demins.constants import Study_Design
from demres.demins.functions import get_insomnia_event_count

In [281]:
pt_features = pd.read_csv('data/pt_data/processed_data/pt_features_demins.csv',delimiter=',',parse_dates=['index_date','data_end','data_start'],infer_datetime_format=True)

In [282]:
pt_features = pt_features.drop(['insom_count_window0','insom_count_window1'],axis=1)

In [283]:
pt_features.head(3)

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid
0,12440330,2,1925,330,2010-03-30,True,4693.0,2000-03-22,2010-04-09,50163.0
1,16055443,2,1927,443,2010-12-20,True,1350.0,2000-12-15,2011-01-13,65618.0
2,2994148,2,1919,148,2007-02-15,True,1916.0,1997-01-20,2007-02-21,21685.0

In [284]:
pt_features.data_end.dtype

dtype('<M8[ns]')

In [258]:
medcoded_entries = pd.read_hdf('hdf/medcoded_entries.hdf')

In [285]:
medcoded_entries.head(3)

   patid  eventdate    sysdate  medcode  type
0  57001 1994-10-31 1997-03-09     3550     2
1  57001 1994-10-31 1997-03-09     9897     2
2  57001 1993-01-28 1997-03-09     4447     2

In [286]:
pt_features = get_insomnia_event_count(pt_features,medcoded_entries,get_windows())

In [ ]:
# pt_features = pt_features.drop(['insom_count_window0','insom_count_window1'],axis=1)

In [287]:
pt_features.sort_values(by='insom_count_window0',ascending=False)

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid,insom_count_window0,insom_count_window1
7712,6762193,2,1917,193,2009-02-05,False,NaN,1997-11-14,2013-04-22,29000.0,28,1
12518,8291322,2,1921,322,2009-10-08,False,NaN,1995-09-21,2013-04-22,49130.0,28,30
10778,5842194,2,1939,194,2010-05-06,True,6578.0,1996-08-09,2013-05-10,29106.0,16,3
8920,17217653,2,1924,653,2010-12-01,True,6578.0,1997-05-10,2013-04-17,91141.0,14,0
9452,5114043,2,1916,43,2008-11-08,True,42279.0,1996-01-05,2012-03-10,6073.0,11,0
6950,1570199,1,1928,199,2006-07-11,True,4693.0,1996-05-12,2011-05-20,30000.0,10,2
413,2287025,2,1944,25,2011-03-22,True,6578.0,2000-04-27,2011-10-12,4002.0,10,0
9376,2831336,2,1928,336,2010-12-08,True,1350.0,1996-09-25,2012-11-15,50925.0,9,4
1602,15936005,2,1920,5,2008-07-04,False,NaN,1997-11-21,2010-08-04,1373.0,8,3
3128,2124315,2,1921,315,2011-01-31,False,NaN,1999-11-26,2013-04-25,47664.0,8,5
876,7693166,2,1926,166,2008-04-09,True,4693.0,1996-05-22,2008-07-17,24911.0,7,2
7578,594441,2,1919,441,2008-08-28,False,NaN,1997-08-28,2013-01-09,65086.0,7,3
10150,3691174,2,1923,174,2010-03-02,False,NaN,1996-11-06,2013-05-09,26076.0,7,2
8534,199159,2,1931,159,2009-03-30,True,1350.0,1997-07-27,2013-05-13,23587.0,7,3
6660,11218031,2,1920,31,2009-03-02,False,NaN,1996-08-27,2011-07-06,5094.0,7,1
5128,2872017,2,1922,17,2009-06-15,True,4693.0,1998-04-18,2012-06-01,2675.0,7,1
11927,4388383,2,1918,383,2009-06-03,False,NaN,1996-03-05,2013-05-03,57095.0,7,4
2771,3909084,2,1928,84,2010-01-04,False,NaN,1999-12-10,2013-04-02,11291.0,6,0
2136,9319411,1,1921,411,2006-12-08,True,6578.0,1996-08-16,2009-08-18,61196.0,6,1
5233,18881427,1,1931,427,2006-10-12,True,1350.0,1995-09-02,2009-11-09,63192.0,6,2
2424,10871398,2,1919,398,2009-04-21,True,4693.0,1997-11-28,2011-01-20,58999.0,6,0
11186,5423115,2,1930,115,2008-07-17,False,NaN,1996-03-03,2013-01-23,16267.0,6,6
11290,9983383,2,1917,383,2008-11-13,True,6578.0,1996-03-05,2013-02-05,57082.0,6,2
1151,19865051,2,1938,51,2011-02-15,True,4693.0,2000-11-30,2013-04-23,7168.0,6,1
9192,3206404,2,1922,404,2010-03-24,False,NaN,1997-05-01,2013-05-21,60094.0,6,6
5805,3160031,2,1919,31,2007-12-21,False,NaN,1996-08-27,2011-02-17,4850.0,6,0
11495,2477115,2,1922,115,2010-10-10,False,NaN,1996-03-03,2013-02-26,16355.0,6,6
11538,4515331,2,1930,331,2010-04-27,True,5931.0,1996-05-02,2013-05-01,50336.0,6,3
12688,8911038,1,1925,38,2010-10-04,False,NaN,1995-07-30,2013-05-08,5742.0,5,3
8579,8520284,2,1923,284,2009-12-15,False,NaN,1997-06-11,2013-04-03,43006.0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4574,6857215,2,1924,215,2006-07-03,False,NaN,1996-04-13,2010-03-02,32713.0,0,1
4575,1270309,2,1930,309,2010-04-21,True,1350.0,1997-05-17,2011-04-05,46486.0,0,0
4576,6869297,2,1923,297,2007-07-01,True,1917.0,1995-11-14,2009-10-02,45332.0,0,0
4577,21287670,2,1928,670,2009-10-08,False,NaN,1999-04-02,2013-02-18,93536.0,0,0
4578,5814179,2,1938,179,2008-08-01,True,1917.0,1996-08-09,2010-06-28,26979.0,0,0
4579,10993670,2,1928,670,2009-10-08,True,4693.0,1999-04-02,2013-02-19,93536.0,0,0
4557,755366,2,1921,366,2009-06-11,False,NaN,1997-10-01,2011-08-17,54911.0,0,0
4555,11765264,1,1928,264,2006-11-29,False,NaN,1996-05-24,2010-04-09,40857.0,0,0
4532,3200651,2,1925,651,2010-12-01,False,NaN,1999-05-24,2013-04-05,90716.0,0,0
4554,6645045,2,1926,45,2011-02-21,False,NaN,1999-06-24,2013-05-09,6427.0,0,0
4533,4994194,1,1924,194,2008-03-26,True,7664.0,1996-08-09,2010-06-22,29093.0,0,0
4534,2835045,2,1935,45,2010-04-20,False,NaN,1999-06-24,2013-05-07,6375.0,0,0
4535,10627314,1,1929,314,2010-08-17,True,38678.0,1998-08-28,2012-07-11,47463.0,0,0
4536,2183206,2,1932,206,2010-01-01,False,NaN,1999-04-20,2013-03-03,31890.0,0,0
4537,5445398,2,1924,398,2008-06-05,True,6578.0,1997-11-28,2011-10-12,58877.0,0,0
4538,4037415,2,1916,415,2008-10-27,False,NaN,1998-07-17,2012-05-30,61589.0,0,0
4539,1967045,1,1932,45,2011-04-04,True,6578.0,1999-06-24,2013-05-07,6409.0,0,0
4540,5052620,1,1936,620,2010-09-07,False,NaN,1999-03-10,2013-01-22,86908.0,0,0
4541,14805366,2,1927,366,2008-10-20,False,NaN,1997-10-01,2011-08-16,54918.0,0,0
4542,90670,2,1925,670,2010-03-17,False,NaN,1999-04-02,2013-02-14,93310.0,0,0
4543,6728255,2,1926,255,2007-05-24,True,4693.0,1995-09-01,2009-07-16,38993.0,0,0
4546,1079045,2,1928,45,2010-06-07,True,6578.0,1999-06-24,2013-05-08,6389.0,0,0
4547,4547045,2,1931,45,2010-11-25,False,NaN,1999-06-24,2013-05-08,6462.0,0,0
4548,2253045,2,1937,45,2011-05-05,False,NaN,1999-06-24,2013-05-08,6488.0,0,0
4549,5355617,2,1923,617,2008-01-23,True,1350.0,1996-07-19,2010-06-04,86535.0,0,0
4550,10711247,2,1922,247,2009-05-07,True,8634.0,1997-04-11,2011-02-25,37880.0,0,0
4551,3830614,1,1928,614,2010-02-04,True,6578.0,1999-06-24,2013-05-09,86118.0,0,0
4552,20512154,2,1920,154,2008-09-23,True,6578.0,1997-05-15,2011-03-31,22677.0,0,0
4553,21715407,1,1925,407,2007-05-10,True,7664.0,1996-06-10,2010-04-26,60465.0,0,0
12735,775336,2,1920,336,2008-10-08,True,1350.0,1994-12-09,2013-05-21,50892.0,0,0

In [290]:
cases = pt_features[pt_features['isCase']==True]

In [291]:
controls = pt_features[pt_features['isCase']==False]

In [292]:
cases['insom_count_window0'].sum()

1510

In [293]:
controls['insom_count_window0'].sum()

1337

In [294]:
cases['insom_count_window1'].sum()

1453

In [295]:
controls['insom_count_window1'].sum()

1129

In [272]:
# cases['insom_count_window2'].sum()

In [273]:
# controls['insom_count_window2'].sum()

In [296]:
len(cases),len(controls)

(6368, 6368)

In [297]:
pt_features.to_csv('data/pt_data/processed_data/pt_features_demins.csv',index=False)