In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
cd ~/demres

/Users/zurfarosa/demres

In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [4]:
import os
import sys
from pprint import pprint

import pandas as pd
import numpy as np
from datetime import date, timedelta
import re

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import demres
from demres.common.constants import entry_type
from demres.common import codelists
from demres.common.process_raw_data import *
from demres.dempred.constants import Study_Design
from dempred.functions import *

In [5]:
pt_features = pd.read_csv('data/pt_data/processed_data/pt_features_dempred.csv',delimiter=',')

In [6]:
pt_features = create_ppds(pt_features,codelists.sedatives,'sedatives')

In [7]:
pt_features

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,matchid,sedatives_pdds
0,4307419,2,1910,419,2002-09-10,True,1917.0,1999-09-01,2002-09-11,62131.0,NaN
1,12189179,1,1926,179,2000-02-18,True,1917.0,1997-02-03,2000-02-18,27033.0,NaN
2,15431564,1,1917,564,2004-10-04,True,4693.0,2001-09-18,2004-10-06,81847.0,NaN
3,23369263,2,1920,263,2009-06-04,True,6578.0,2006-05-12,2009-06-08,40783.0,NaN
4,15203047,2,1926,47,2005-11-12,True,1916.0,2002-10-14,2005-11-14,6796.0,NaN
5,3825320,1,1917,320,2003-07-10,True,1350.0,2000-06-28,2003-08-01,48531.0,NaN
6,13223179,2,1905,179,2002-03-19,True,1916.0,1999-03-02,2002-04-05,27038.0,1005.79
7,10613282,2,1919,282,2003-12-18,True,4693.0,2000-11-28,2004-01-05,42848.0,478.93
8,23999190,2,1924,190,2012-01-02,True,4693.0,2008-12-11,2012-01-19,28764.0,NaN
9,50271229,1,1910,229,2000-07-28,True,1917.0,1997-06-19,2000-07-28,35251.0,596.55
10,21385409,2,1910,409,2009-10-02,True,1350.0,2006-08-29,2009-10-08,60887.0,NaN
11,15199456,2,1917,456,2008-05-09,True,1350.0,2005-03-29,2008-05-09,67818.0,NaN
12,5946124,2,1928,124,2001-06-15,True,7664.0,1998-05-08,2001-06-21,17646.0,NaN
13,3828320,2,1907,320,2003-08-06,True,1350.0,2000-06-28,2003-08-14,48532.0,NaN
14,24585320,2,1916,320,2009-01-21,True,4693.0,2005-12-28,2009-02-12,48814.0,26.81
15,24390310,2,1920,310,2011-03-23,True,6578.0,2008-03-12,2011-05-03,47049.0,NaN
16,12940614,2,1918,614,2005-10-24,True,1916.0,2002-10-07,2005-11-28,86163.0,NaN
17,5551458,2,1917,458,2008-01-24,True,1916.0,2005-01-24,2008-03-20,68237.0,NaN
18,7725398,2,1914,398,2000-12-03,True,4693.0,1997-11-28,2001-01-25,58938.0,NaN
19,5176384,1,1918,384,2002-12-19,True,8634.0,1999-10-22,2002-12-19,57229.0,NaN
20,29125431,2,1918,431,2012-03-04,True,6578.0,2009-01-06,2012-03-08,63723.0,NaN
21,4341471,1,1915,471,2000-01-18,True,7323.0,1996-11-22,2000-01-25,70953.0,NaN
22,3135241,2,1915,241,2002-12-27,True,1916.0,1999-12-08,2003-02-10,36519.0,NaN
23,556503,2,1923,503,2010-08-20,True,6578.0,2007-08-14,2010-10-18,75862.0,NaN
24,25369256,2,1917,256,2011-02-22,True,1350.0,2007-12-17,2011-03-01,39603.0,NaN
25,7061435,2,1904,435,2002-12-02,True,9509.0,1999-09-29,2002-12-13,64078.0,NaN
26,2943480,1,1920,480,2004-06-02,True,4693.0,2001-03-23,2004-06-07,72198.0,NaN
27,6090306,2,1909,306,2002-10-15,True,1350.0,1999-08-06,2002-10-21,46225.0,NaN
28,10394377,1,1915,377,2004-05-22,True,1916.0,2001-04-01,2004-06-17,55939.0,NaN
29,10643476,1,1909,476,2002-11-14,True,7664.0,1999-09-16,2002-12-02,71747.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
59869,5650488,1,1939,488,2012-01-23,True,1917.0,1995-02-17,2013-03-26,73684.0,NaN
59870,10531488,2,1927,488,2006-11-15,True,8195.0,1995-02-17,2013-04-04,73695.0,NaN
59871,11262488,1,1931,488,2011-11-09,True,6578.0,1995-02-17,2013-04-05,73701.0,NaN
59872,2546488,2,1939,488,2009-07-16,True,7664.0,1995-02-17,2013-04-06,73677.0,NaN
59873,12938488,1,1934,488,2006-08-14,True,8634.0,1995-02-17,2013-04-08,73704.0,NaN
59874,15195488,1,1939,488,2009-02-15,True,1916.0,1995-02-17,2013-04-12,73711.0,NaN
59875,8580488,1,1931,488,2011-11-09,False,NaN,1995-02-17,2013-04-15,73701.0,NaN
59876,10620488,2,1929,488,2012-01-25,False,NaN,1995-02-17,2013-04-15,73721.0,NaN
59877,13292488,1,1925,488,2006-05-17,False,NaN,1995-02-17,2013-04-16,73726.0,NaN
59878,16116488,2,1935,488,2002-07-02,False,NaN,1995-02-17,2013-04-16,73700.0,NaN
59879,17517488,1,1939,488,2012-01-23,False,NaN,1995-02-17,2013-04-17,73684.0,NaN
59880,2194488,2,1926,488,2003-08-03,True,1916.0,1995-02-17,2013-04-17,73676.0,NaN
59881,16606488,1,1942,488,2012-04-12,False,NaN,1995-02-17,2013-04-17,73687.0,NaN
59882,16816488,2,1922,488,2010-01-01,True,1916.0,1995-02-17,2013-04-17,73715.0,NaN
59883,2053336,1,1942,336,2009-05-05,False,NaN,1994-12-10,2013-02-22,50913.0,NaN
59884,1091336,2,1927,336,2010-04-20,False,NaN,1994-12-10,2013-03-05,50930.0,NaN
59885,584336,1,1922,336,2010-10-20,True,1350.0,1994-12-09,2013-04-24,50886.0,NaN
59886,1421336,1,1930,336,2011-09-26,True,8195.0,1994-12-09,2013-04-24,50904.0,NaN
59887,1562336,2,1920,336,2008-10-08,False,NaN,1994-12-09,2013-04-25,50892.0,NaN
59888,755336,2,1938,336,2012-01-19,True,1917.0,1994-12-09,2013-05-02,50891.0,NaN
59889,1503336,1,1930,336,2011-09-26,False,NaN,1994-12-09,2013-05-07,50904.0,NaN
59890,1130336,2,1938,336,2012-01-19,False,NaN,1994-12-10,2013-05-09,50891.0,NaN
59891,1716336,2,1921,336,2007-07-31,False,NaN,1994-12-09,2013-05-09,50883.0,NaN
59892,1188336,1,1938,336,2012-05-09,False,NaN,1994-12-09,2013-05-13,50881.0,NaN
59893,1737336,1,1942,336,2009-05-05,True,1917.0,1994-12-09,2013-05-14,50913.0,NaN
59894,1220336,2,1928,336,2011-07-11,False,NaN,1994-12-09,2013-05-15,50924.0,NaN
59895,715336,2,1930,336,2008-09-04,False,NaN,1994-12-09,2013-05-20,50882.0,NaN
59896,1033336,1,1928,336,2008-11-21,False,NaN,1994-12-09,2013-05-21,50938.0,NaN
59897,136336,1,1938,336,2012-05-09,True,1350.0,1994-12-09,2013-05-21,50881.0,NaN
59898,775336,2,1920,336,2008-10-08,True,1350.0,1994-12-09,2013-05-21,50892.0,NaN

In [9]:
pt_features.to_csv('data/pt_data/processed_data/pt_features_dempred.csv',index=False)