In [25]:
%load_ext autoreload
%autoreload 1

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
%aimport data_processing
%aimport codelists
%aimport constants
%aimport import_file

In [4]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:97% !important; }</style>"))

In [28]:
from data_processing import *

In [5]:
from .. import import_file

SystemError: Parent module '' not loaded, cannot perform relative import

In [30]:
pd.set_option('display.max_columns', None)

In [31]:
pd.options.display.max_rows = 1000

In [35]:
pt_features = pd.read_csv('data/pt_data/pt_features.csv',delimiter=',')

In [42]:
dem_pt_features = pt_features[(pt_features['isCase']==True)&(pt_features['days post_indexdate']>(365*5))&(pt_features['days pre_indexdate']>(365*2))]

In [44]:
dem_pt_features.head(5)

,patid,gender,yob,pracid,index_date,isCase,final dementia medcode,data_start,data_end,days pre_indexdate,days post_indexdate
0,57001,1,1932,1,2006-12-05,True,19477.0,1997-03-07,2013-05-17,3560.0,2355.0
12,718001,1,1922,1,2007-02-26,True,1917.0,1997-03-07,2013-02-12,3643.0,2178.0
15,802001,2,1924,1,2005-05-24,True,4693.0,1997-03-07,2011-09-28,3000.0,2318.0
25,1645001,1,1929,1,2007-05-24,True,26270.0,1997-03-07,2013-04-23,3730.0,2161.0
26,1670001,2,1926,1,2003-02-01,True,1350.0,1997-03-07,2010-02-19,2157.0,2575.0

In [53]:
raw_pts = pd.read_csv('data/pt_data/raw_data/Extract_Patient_001.txt', nrows=5, delimiter='\t')

In [56]:
raw_pts[pd.isnull(raw_pts['deathdate'])]

,patid,vmid,gender,yob,mob,marital,famnum,chsreg,chsdate,prescr,capsup,ses,frd,crd,regstat,reggap,internal,tod,toreason,deathdate,accept
0,57001,1682,1,132,0,2,730,2,NaN,0,4,0,10/05/1977,10/05/1977,0,0,0,NaN,0,NaN,1
1,60001,3405,1,124,0,6,1475,2,NaN,4,4,0,11/03/1988,11/03/1988,0,0,0,NaN,0,NaN,1
2,149001,3238,2,119,0,6,1398,2,NaN,3,4,0,28/04/1978,28/04/1978,0,0,0,15/10/2004,2,NaN,1
3,364001,13436,2,137,0,2,6628,2,NaN,0,4,0,30/03/1991,30/03/1991,0,0,0,NaN,0,NaN,1
4,432001,4006,2,120,0,6,1726,2,NaN,3,4,0,05/11/1979,05/11/1979,0,0,0,NaN,0,NaN,1