In [91]:
import pandas as pd
from my_functions import *
import numpy as np

In [3]:
insents = pd.read_csv('data/pt_data/proc_insomnia_clinicalentries.csv',delimiter=',')

In [4]:
insents.head(5)

,patid,eventdate,sysdate,constype,consid,medcode,staffid,textid,episode,enttype,adid,file
0,149001,27/11/1989,28/05/2003,3,25478,750,0,0,1,2,0,1
1,702001,08/03/2004,08/03/2004,3,117651,750,7001,20671,1,2,0,1
2,702001,27/01/2005,27/01/2005,3,117733,750,7001,20682,1,2,0,1
3,802001,27/09/1991,07/03/1997,3,131148,750,0,0,4,2,0,1
4,802001,03/01/2006,03/01/2006,3,131283,750,5001,23141,2,2,0,1

In [5]:
pegmed = pd.read_csv('data/dicts/proc_pegasus_medical.csv',delimiter=',')

In [6]:
pegmed.head(5)

,medcode,readcode,clinical events,immunisation events,referral events,test events,read term,database build
0,42602,E001000,30,0,1,0,Uncomplicated presenile dementia,February 2009
1,65166,TAy0.00,2,0,0,0,Mismatched blood transfused,February 2009
2,86183,K2284PH,0,0,0,0,NaN,February 2009
3,24730,ZC2C100,142,0,7,0,Dietary treatment for disorder,February 2009
4,12413,5C10.00,876,0,68,3966,Carotid artery doppler abnormal,February 2009

In [155]:
pt_insom_events = insents.groupby(['patid','eventdate']).size()
pt_insom_events

patid     eventdate
1467      01/02/2008    1
          01/03/2013    1
          02/06/2008    1
          03/01/2008    1
          08/09/2009    1
          15/02/2008    1
          18/05/2009    1
          23/11/2007    1
          24/01/2008    1
          29/11/2007    1
3432      10/11/2008    1
          31/12/2004    1
3549      09/11/2007    1
          10/10/2005    1
          20/01/2006    1
          23/06/2006    1
4290      29/06/2005    1
6365      19/05/2008    1
9609      23/05/2006    1
12043     14/02/1990    1
12137     18/06/2008    1
13638     15/05/2003    1
14280     13/03/2007    1
          15/10/2007    1
          18/10/2004    1
          29/03/2013    1
          31/03/2006    1
15385     26/04/1993    1
          28/05/1998    1
16064     23/06/2006    1
                       ..
55411640  19/05/2010    1
55488470  01/07/2005    1
55779640  26/05/2006    1
55953229  17/12/2003    1
56211470  23/01/2006    1
57701470  01/05/2006    1
          25/01/2011    1
59826470  30/12/2011    1
60161229  11/04/2005    1
60806470  27/03/2008    1
61259470  21/10/2008    1
61341229  15/11/2012    1
61429670  09/07/2008    1
63057229  23/03/2009    1
63231229  18/05/2005    1
          28/01/2005    1
68877229  28/03/2013    1
73871229  02/10/2008    1
          07/11/2007    1
          14/11/2008    1
          18/03/2008    1
          21/08/2008    1
          30/10/2007    1
          30/10/2008    1
74205229  13/08/2007    1
75633229  09/07/2007    1
          23/09/2008    1
          25/09/2009    1
77718229  28/01/2010    1
79208229  05/11/2008    1
dtype: int64

In [178]:
len(pt_insom_events.loc[73871229])

7

In [67]:
pt_insom_events.index.get_level_values(1)

Index(['01/02/2008', '01/03/2013', '02/06/2008', '03/01/2008', '08/09/2009',
       '15/02/2008', '18/05/2009', '23/11/2007', '24/01/2008', '29/11/2007',
       ...
       '18/03/2008', '21/08/2008', '30/10/2007', '30/10/2008', '13/08/2007',
       '09/07/2007', '23/09/2008', '25/09/2009', '28/01/2010', '05/11/2008'],
      dtype='object', name='eventdate', length=35738)

In [42]:
insents.groupby(['patid','eventdate'])

In [110]:
features = pd.read_csv('data/pt_data/pt_features.csv',delimiter=',',low_memory=False)

In [111]:
features['insom_events']=np.nan

In [112]:
features.head(10)

,patID,pracID,gender,birthyear,case_index,matchID,data_start,data_end,isCase,insom_events
0,4923328,328,2,1916,01/07/2003,4355328,01/01/2000,07/02/2009,True,NaN
1,1959216,216,1,1933,25/02/2011,6290216,01/01/2000,01/06/2012,True,NaN
2,9271420,420,1,1917,20/06/2003,2770420,02/01/2003,29/12/2009,True,NaN
3,548429,429,2,1925,11/05/2005,5473429,01/01/2000,01/06/2012,True,NaN
4,14185081,81,2,1917,28/02/2005,5951081,01/01/2000,27/01/2007,True,NaN
5,7329438,438,2,1941,04/08/2008,17742438,01/01/2000,01/06/2012,True,NaN
6,6327373,373,1,1941,26/03/2009,5262373,22/12/2004,10/09/2010,True,NaN
7,5811024,24,1,1930,14/12/2010,6394024,01/01/2000,01/06/2012,True,NaN
8,6905371,371,1,1926,19/09/2006,15830371,07/11/2002,22/07/2009,True,NaN
9,7741629,629,1,1936,10/06/2004,9053629,01/01/2000,01/06/2012,True,NaN

In [181]:
for count,pt in features[:100].iterrows():
    patid=int(pt['patID'])
    if 3==4:
        print(len(pt_insom_events.loc[patid]))
#     features.loc[features['patID']=='patid','insom_events']=len(pt_insom_events[patid])