In [1]:
%load_ext autoreload
%autoreload 1

In [2]:
%aimport data_processing.my_functions
%aimport codelists
%aimport constants
%aimport import_file

In [3]:
from data_processing import *

In [4]:
from import_file import *

In [5]:
pd.options.display.max_rows = 1000

In [6]:
medcoded_entries = pd.read_csv('data/pt_data/medcoded_entries.csv',delimiter=',',parse_dates=['eventdate'],infer_datetime_format=True)

In [13]:
medcoded_entries.sample(5)

             patid  eventdate     sysdate  medcode  type
18773027   3644421 2005-07-26  2005-07-26     6677     2
49102690   8996502 2005-08-09  2007-06-29    13589     3
18225537  21080407 2008-01-23  2008-01-23    20049     2
53672595  10840661 2013-04-02  2013-04-03        5     3
24753559  13686563 2002-01-07  2002-01-07       57     2

In [14]:
insomnia_medcodes = get_medcodes_from_readcodes(codelists.insomnia_readcodes)

In [16]:
insom_events = medcoded_entries[medcoded_entries['medcode'].isin(insomnia_medcodes)]

In [23]:
insom_events.sample(5)

             patid  eventdate     sysdate  medcode  type
3530082   11816084 2007-12-20  2007-12-20     4537     2
20180633   9252450 2002-02-12  2002-02-12      750     2
12700439   1964274 2011-01-13  2011-01-13     4537     2
55296574   6574479 1993-12-15  2002-01-15      750     1
11652971   5057254 1992-03-03  1996-09-27      750     2

In [19]:
insom_events = insom_events[pd.notnull(insom_events['eventdate'])] #drops a small number of rows (only about 64) with NaN eventdates

In [25]:
insom_events = insom_events[['patid','eventdate']].set_index('eventdate').groupby('patid').resample('M').count()

In [27]:
insom_events.head(10)

                  patid
patid eventdate
1467  2007-11-30      2
      2007-12-31      0
      2008-01-31      2
      2008-02-29      2
      2008-03-31      0
      2008-04-30      0
      2008-05-31      0
      2008-06-30      1
      2008-07-31      0
      2008-08-31      0

In [31]:
#convert group_by object back to dataframe
insom_events = insom_events.add_suffix('_count').reset_index()

In [32]:
insom_events.columns=['patid','eventdate','insom_count']
#delete zero counts

In [34]:
insom_events = insom_events[insom_events['insom_count']>0]

In [37]:
insom_events

           patid  eventdate  insom_count
0           1467 2007-11-30            2
2           1467 2008-01-31            2
3           1467 2008-02-29            2
7           1467 2008-06-30            1
18          1467 2009-05-31            1
22          1467 2009-09-30            1
64          1467 2013-03-31            1
65          3432 2004-12-31            1
112         3432 2008-11-30            1
113         3549 2005-10-31            1
116         3549 2006-01-31            1
121         3549 2006-06-30            1
138         3549 2007-11-30            1
139         4290 2005-06-30            1
140         6365 2008-05-31            1
141         9609 2006-05-31            1
142        12043 1990-02-28            1
143        12137 2008-06-30            1
144        13638 2003-05-31            1
145        14280 2004-10-31            1
162        14280 2006-03-31            1
174        14280 2007-03-31            1
181        14280 2007-10-31            1
246        14280 2013-03-31            1
247        15385 1993-04-30            1
308        15385 1998-05-31            1
309        16064 2006-06-30            1
310        17267 2011-09-30            1
311        18255 1997-12-31            1
312        18571 2004-10-31            1
313        20172 2006-10-31            1
314        20285 2008-11-30            1
315        20581 2008-01-31            1
316        21132 1989-11-30            1
564        21132 2010-07-31            2
565        22638 2008-06-30            1
566        24081 1991-03-31            1
641        24081 1997-06-30            1
642        24436 2012-02-29            1
643        25420 1999-10-31            1
644        25570 2011-04-30            1
645        26002 2008-11-30            1
646        26132 2004-03-31            1
647        26330 2007-06-30            1
648        27025 2001-08-31            1
649        27052 2009-06-30            1
665        27052 2010-10-31            1
666        27571 2010-11-30            1
676        27571 2011-09-30            1
677        28218 1999-07-31            1
678        28218 1999-08-31            1
679        28290 2008-10-31            1
680        29551 2003-09-30            1
681        30279 2011-01-31            1
682        30571 2010-01-31            1
683        32504 2002-10-31            1
684        36624 2006-05-31            1
685        37099 2001-04-30            1
686        39463 1989-01-31            1
739        39463 1993-06-30            1
764        39463 1995-07-31            1
777        39463 1996-08-31            1
812        39463 1999-07-31            1
814        39463 1999-09-30            1
833        39463 2001-04-30            1
877        39463 2004-12-31            1
912        39463 2007-11-30            4
913        39463 2007-12-31            1
916        39463 2008-03-31            1
917        39598 2008-07-31            1
918        40139 2007-12-31            1
919        40139 2008-01-31            2
921        40139 2008-03-31            1
922        40139 2008-04-30            1
924        40139 2008-06-30            1
925        40334 1998-07-31            1
972        40334 2002-06-30            1
975        40334 2002-09-30            1
976        40557 2005-05-31            1
1014       40557 2008-07-31            1
1048       40557 2011-05-31            1
1049       41236 1988-01-31            1
1085       41236 1991-01-31            1
1086       41271 2012-11-30            1
1087       43045 1991-01-31            1
1088       43624 2009-02-28            1
1089       44447 1996-10-31            1
1101       44447 1997-10-31            1
1163       44447 2002-12-31            1
1225       44447 2008-02-29            1
1228       44447 2008-05-31            1
1229       44654 2008-01-31            1
1230       45315 2003-07-31            1
1231       45538 2001-06-30            1
1232       45571 2008-02-29            1
1233       47444 2003-09-30            1
1234       49415 1991-07-31            1
1235       50159 2005-07-31            1
1254       50159 2007-02-28            1
1255       51650 2006-12-31            1
1256       52102 1988-02-29            1
1300       52102 1991-10-31            1
1312       52102 1992-10-31            1
1313       52416 2006-07-31            1
1314       52511 1991-02-28            1
1320       52511 1991-08-31            2
1322       52511 1991-10-31            1
1330       52511 1992-06-30            1
1332       52511 1992-08-31            1
1333       52511 1992-09-30            1
1334       54132 1994-11-30            1
1335       55033 2004-07-31            1
1336       55128 1984-01-31            1
1470       55128 1995-03-31            1
1471       55533 2011-09-30            1
1472       56230 1996-04-30            1
1473       57339 1990-04-30            1
1474       57392 1992-08-31            1
1475       58002 2005-11-30            1
1476       58032 2002-05-31            1
1477       58388 1991-03-31            1
1478       58466 1993-05-31            1
1479       59360 2004-07-31            1
1480       59360 2004-08-31            1
1494       59360 2005-10-31            1
1505       59360 2006-09-30            1
1518       59360 2007-10-31            1
1530       59360 2008-10-31            1
1542       59360 2009-10-31            1
1554       59360 2010-10-31            1
1555       59360 2010-11-30            1
1556       59606 1994-12-31            1
1557       59606 1995-01-31            1
1558       60385 1990-04-30            1
1559       62226 2008-08-31            1
1560       62270 2004-04-30            1
1569       62270 2005-01-31            1
1570       63273 1988-12-31            1
1571       64013 1997-01-31            1
1632       64013 2002-02-28            1
1633       64123 1996-08-31            1
1678       64123 2000-05-31            1
1687       64123 2001-02-28            1
1714       64123 2003-05-31            1
1715       64246 2001-04-30            1
1716       65273 1992-07-31            1
1752       65273 1995-07-31            1
1753       66373 2012-03-31            1
1754       67264 2002-09-30            1
1755       67463 1989-01-31            1
1843       67463 1996-05-31            1
1849       67463 1996-11-30            1
1852       67463 1997-02-28            1
1859       67463 1997-09-30            1
1878       67463 1999-04-30            1
1897       67463 2000-11-30            1
1901       67463 2001-03-31            1
1926       67463 2003-04-30            1
1950       67463 2005-04-30            1
1951       67463 2005-05-31            1
1952       68413 2004-05-31            1
1953       70143 1993-09-30            1
1954       71400 2011-03-31            1
1955       72203 1990-08-31            1
1970       72203 1991-11-30            1
2073       72203 2000-06-30            1
2074       72335 2003-09-30            1
2075       72335 2003-10-31            1
2088       72335 2004-11-30            1
2089       72427 2002-05-31            1
2096       72427 2002-12-31            1
2097       72427 2003-01-31            2
2098       72427 2003-02-28            2
2099       72427 2003-03-31            2
2123       72427 2005-03-31            1
2175       72427 2009-07-31            2
2176       72480 1995-08-31            1
2259       72480 2002-07-31            1
2285       72480 2004-09-30            1
2305       72480 2006-05-31            1
2314       72480 2007-02-28            1
2315       72480 2007-03-31            1
2318       72480 2007-06-30            2
2319       72480 2007-07-31            1
2321       72480 2007-09-30            1
2323       72480 2007-11-30            1
2326       72480 2008-02-29            1
2329       72480 2008-05-31            1
2332       72480 2008-08-31            1
2333       72480 2008-09-30            1
2334       72480 2008-10-31            1
2335       74030 1997-11-30            1
2336       74030 1997-12-31            1
2339       74030 1998-03-31            1
2340       74223 1994-07-31            1
2341       74331 1998-11-30            1
2342       74456 2008-05-31            1
2343       77025 2002-06-30            1
2344       77375 2004-07-31            1
2345       77642 2004-02-29            1
2346       78601 2007-07-31            1
2347       79148 2003-07-31            1
2348       79210 1993-08-31            1
2349       81225 1989-12-31            1
2550       81225 2006-09-30            1
2551       81295 1998-07-31            1
2596       81295 2002-04-30            1
2636       81295 2005-08-31            1
2689       81295 2010-01-31            1
2691       81295 2010-03-31            1
2692       81295 2010-04-30            2
2696       81295 2010-08-31            1
2698       81295 2010-10-31            1
2702       81295 2011-02-28            1
2703       82534 2011-08-31            1
2704       83119 2005-10-31            1
2705       84264 1998-10-31            1
2766       84264 2003-11-30            1
2767       86339 1994-04-30            1
2894       86339 2004-11-30            1
2895       88056 2002-01-31            1
2896       89350 2005-11-30            1
2897       89401 2005-02-28            1
2898       89447 2001-06-30            1
2899       90050 1999-07-31            1
2900       90198 1990-04-30            1
2917       90198 1991-09-30            1
2961       90198 1995-05-31            1
2967       90198 1995-11-30            1
3012       90198 1999-08-31            1
3016       90198 1999-12-31            1
3127       90198 2009-03-31            1
3128       91089 1981-01-31            1
3129       91115 2000-05-31            1
3136       91115 2000-12-31            2
3199       91115 2006-03-31            1
3249       91115 2010-05-31            1
3250       91128 1991-08-31            1
3251       91412 2006-04-30            1
3252       93017 1993-01-31            1
3253       93206 2007-01-31            1
3254       93388 2007-06-30            1
3255       94496 2005-01-31            1
3270       94496 2006-04-30            1
3274       94496 2006-08-31            1
3332       94496 2011-06-30            1
3333       95446 1999-01-31            1
3334       95446 1999-02-28            1
3335       97521 2000-06-30            1
3336       99042 1998-02-28            1
3337       99196 2002-08-31            1
3338       99196 2002-09-30            1
3339       99571 2005-02-28            1
3340      100581 2012-07-31            2
3341      103329 2010-09-30            1
3342      104025 2005-06-30            1
3385      104025 2009-01-31            1
3386      105184 1989-01-31            1
3391      105184 1989-06-30            1
3393      105184 1989-08-31            1
3445      105184 1993-12-31            1
3473      105184 1996-04-30            1
3483      105184 1997-02-28            1
3490      105184 1997-09-30            1
3493      105184 1997-12-31            1
3500      105184 1998-07-31            1
3509      105184 1999-04-30            1
3589      105184 2005-12-31            1
3590      106283 2002-02-28            1
3603      106283 2003-03-31            1
3604      106448 2007-01-31            1
3631      106448 2009-04-30            1
3632      107617 2011-09-30            1
3633      107617 2011-10-31            1
3634      107617 2011-11-30            2
3635      108025 1997-08-31            1
3642      108025 1998-03-31            1
3664      108025 2000-01-31            1
3665      108027 2006-03-31            1
3666      109183 1996-01-31            3
3669      109183 1996-04-30            1
3701      109183 1998-12-31            1
3702      109323 2010-02-28            1
3703      109411 1992-08-31            2
3704      109411 1992-09-30            1
3706      109411 1992-11-30            1
3707      111115 1992-07-31            1
3710      111115 1992-10-31            1
3718      111115 1993-06-30            1
3733      111115 1994-09-30            1
3858      111115 2005-02-28            1
3859      112006 1973-01-31            1
3860      112569 2008-12-31            1
3861      113162 1997-11-30            1
3954      113162 2005-08-31            2
3955      114061 2006-03-31            1
3956      114163 1999-11-30            1
3957      114200 2007-08-31            2
3958      116063 1999-08-31            1
4054      116063 2007-08-31            1
4055      118556 2006-06-30            1
4056      119412 2003-04-30            1
4057      120116 1991-05-31            1
4060      120116 1991-08-31            1
4094      120116 1994-06-30            1
4097      120116 1994-09-30            1
4102      120116 1995-02-28            1
4103      120116 1995-03-31            1
4104      120511 2005-07-31            1
4160      120511 2010-03-31            1
4161      123084 1992-08-31            1
4171      123084 1993-06-30            1
4172      124004 1991-04-30            1
4173      124416 1994-10-31            1
4174      126092 1991-01-31            1
4175      126113 2002-01-31            1
4176      126113 2002-02-28            1
4177      126113 2002-03-31            1
4178      126113 2002-04-30            3
4179      126113 2002-05-31            1
4181      126113 2002-07-31            1
4182      127378 2007-06-30            1
4183      127446 2001-02-28            1
4242      127446 2006-01-31            1
4262      127446 2007-09-30            1
4299      127446 2010-10-31            1
4306      127446 2011-05-31            1
4321      127446 2012-08-31            1
4328      127446 2013-03-31            1
4329      127496 2009-05-31            1
4330      127601 2008-08-31            1
4331      128163 1999-12-31            2
4332      128602 1997-09-30            1
4333      129092 2005-10-31            1
4334      129525 1995-04-30            1
4335      130006 1970-01-31            1
4336      133277 2011-05-31            2
4337      134322 1992-04-30            1
4338      135063 2009-01-31            1
4339      135202 1993-01-31            1
4353      135202 1994-03-31            1
4370      135202 1995-08-31            1
4379      135202 1996-05-31            1
4384      135202 1996-10-31            1
4413      135202 1999-03-31            1
4445      135202 2001-11-30            1
4471      135202 2004-01-31            1
4472      136059 2000-04-30            1
4480      136059 2000-12-31            1
4481      137147 2005-03-31            1
4484      137147 2005-06-30            1
4485      140320 1990-01-31            1
4498      140320 1991-02-28            1
4509      140320 1992-01-31            1
4519      140320 1992-11-30            1
4643      140320 2003-03-31            1
4644      142093 2007-10-31            1
4645      142495 2006-08-31            1
4646      144447 2008-07-31            2
4657      144447 2009-06-30            1
4658      144454 2010-10-31            1
4659      145571 2009-06-30            1
4660      146093 1989-05-31            2
4661      146093 1989-06-30            1
4666      146093 1989-11-30            1
4670      146093 1990-03-31            1
4678      146093 1990-11-30            1
4680      146093 1991-01-31            1
4681      147290 1996-01-31            1
4701      147290 1997-09-30            1
4704      147290 1997-12-31            1
4708      147290 1998-04-30            1
4709      149001 1989-11-30            1
4710      149379 2004-04-30            1
4711      150557 2005-12-31            1
4725      150557 2007-02-28            1
4726      151017 1983-01-31            1
4727      151228 1988-05-31            1
4728      152447 1992-08-31            1
4739      152447 1993-07-31            1
4743      152447 1993-11-30            1
4761      152447 1995-05-31            1
4779      152447 1996-11-30            1
4810      152447 1999-06-30            1
4840      152447 2001-12-31            1
4869      152447 2004-05-31            1
4887      152447 2005-11-30            1
4888      154179 2000-10-31            1
4889      154454 1994-08-31            1
4890      154589 2001-01-31            1
4891      154589 2001-02-28            1
4892      155159 1992-02-29            1
5051      155159 2005-05-31            1
5052      157098 1999-08-31            1
5064      157098 2000-08-31            1
5065      157099 1989-01-31            1
5066      157536 2000-12-31            1
5067      159490 2000-08-31            1
5068      161017 1996-02-29            1
5085      161017 1997-07-31            1
5086      162158 2005-09-30            1
5087      162279 1991-10-31            1
5088      162452 1988-10-31            1
5089      163289 2006-07-31            1
5090      164447 1996-06-30            1
5091      165233 2008-05-31            1
5092      166210 1966-01-31            1
5093      166256 2001-01-31            1
5094      167229 1993-04-30            1
5111      167229 1994-09-30            1
5112      170025 1990-11-30            1
5117      170025 1991-04-30            1
5221      170025 1999-12-31            1
5222      170601 2002-03-31            1
5223      170601 2002-04-30            1
5266      170601 2005-11-30            1
5267      171052 2010-09-30            1
5268      171450 1998-03-31            1
5283      171450 1999-06-30            1
5284      171450 1999-07-31            2
5285      172166 2005-04-30            1
5308      172166 2007-03-31            1
5309      173066 2003-10-31            1
5310      173251 2007-02-28            1
5311      174018 2007-12-31            1
5312      174194 2002-01-31            1
5325      174194 2003-02-28            1
5341      174194 2004-06-30            1
5342      174614 1995-10-31            1
5343      175140 2001-06-30            1
5344      177476 2003-11-30            1
5345      178168 2006-02-28            1
5346      179091 1991-04-30            1
5347      179091 1991-05-31            1
5368      179091 1993-02-28            1
5386      179091 1994-08-31            1
5400      179091 1995-10-31            1
5401      179091 1995-11-30            1
5405      179091 1996-03-31            2
5416      179091 1997-02-28            1
5418      179091 1997-04-30            1
5421      179091 1997-07-31            1
5423      179091 1997-09-30            1
5432      179091 1998-06-30            1
5478      179091 2002-04-30            2
5479      179091 2002-05-31            1
5481      179091 2002-07-31            2
5484      179091 2002-10-31            2
5486      179091 2002-12-31            2
5487      179091 2003-01-31            3
5489      179091 2003-03-31            1
5499      179091 2004-01-31            1
5500      179091 2004-02-29            1
5507      179091 2004-09-30            1
5510      179091 2004-12-31            1
5511      179091 2005-01-31            2
5515      179091 2005-05-31            1
5516      179091 2005-06-30            1
5541      179091 2007-07-31            1
5542      179115 1994-10-31            1
5543      179320 2001-01-31            1
5606      179320 2006-04-30            1
5664      179320 2011-02-28            1
5678      179320 2012-04-30            1
5679      179447 2008-02-29            1
5680      180458 1998-01-31            1
5681      181023 1960-04-30            1
5682      181393 2006-11-30            1
5711      181393 2009-04-30            1
5725      181393 2010-06-30            1
5726      182174 1990-04-30            1
5750      182174 1992-04-30            1
5752      182174 1992-06-30            1
5753      182174 1992-07-31            1
5883      182174 2003-05-31            1
5884      182280 2012-01-31            1
5885      182437 1995-09-30            1
5886      182437 1995-10-31            1
5887      183088 2008-10-31            1
5888      183088 2008-11-30            1
5889      183263 2003-11-30            1
5890      183447 2003-09-30            1
5932      183447 2007-03-31            1
5942      183447 2008-01-31            1
5953      183447 2008-12-31            1
5954      183447 2009-01-31            1

In [35]:
pt_features = pd.read_csv('data/pt_data/pt_features.csv',delimiter=',')

In [42]:
pt_features.head(3)

,patid,pracid,gender,birthyear,index_date,isCase,final dementia medcode,final dementia read term,data_start,data_end,days pre_indexdate,days post_indexdate,matchid,total_available_data
0,21880670,670,2,1931,2009-03-30,True,6578.0,[X]Vascular dementia,1999-04-02,2013-04-04,3650.0,1466.0,787.0,5116 days 00:00:00.000000000
1,3846066,66,2,1931,2009-12-10,True,8195.0,[X]Alzheimer's dementia unspec,1999-12-13,2011-12-28,3650.0,748.0,1522.0,4398 days 00:00:00.000000000
2,2904565,565,2,1943,2009-03-12,True,37014.0,[X]Dementia in Huntington's disease,1999-03-15,2013-04-12,3650.0,1492.0,3342.0,5142 days 00:00:00.000000000

In [43]:
insom_events = pd.merge(insom_events,pt_features,how='inner')[['patid','eventdate','insom_count','index_date']]

In [44]:
insom_events.head(10)

   patid  eventdate  insom_count  index_date
0  12043 1990-02-28            1  2010-09-22
1  24081 1991-03-31            1  2010-06-23
2  24081 1997-06-30            1  2010-06-23
3  37099 2001-04-30            1  2005-12-12
4  39463 1989-01-31            1  2007-11-09
5  39463 1993-06-30            1  2007-11-09
6  39463 1995-07-31            1  2007-11-09
7  39463 1996-08-31            1  2007-11-09
8  39463 1999-07-31            1  2007-11-09
9  39463 1999-09-30            1  2007-11-09

In [47]:
interim_period = timedelta(days=365)*Study_Design.years_between_end_of_exposure_period_and_index_date

AttributeError: type object 'Study_Design' has no attribute 'years_between_end_of_exposure_period_and_index_date'

In [46]:
relev_insom_events = (insom_events['eventdate']<=(insom_events['index_date']-interim_period)) & (insom_events['eventdate']>=(insom_events['index_date']-total_years_required_pre_index_date))

NameError: name 'interim_period' is not defined

In [ ]:
too_distant_from_dx_period = too_close_to_dx_period + timedelta(days=365)*Study_Design.duration_of_exposure_measurement
not_too_close_to_dx = insom_events['eventdate']<(insom_events['index_date']-too_close_to_dx_period)
not_before_exposure_period = insom_events['eventdate']>(insom_events['pat_index_date']-too_distant_from_dx_period)
relev_insom_events = insom_events[not_too_close_to_dx & not_before_exposure_period]